.page-header {
    margin: 10px $container;
    padding: 20px 0 10px;
    background: var(--bg-surface1, #fff);
    max-width: calc($max-width - 40px);
    border-radius: 12px;

    @include breakpoint(lg) {
        margin-top: 16px;
    }

    @include breakpoint(xl) {
        margin: 20px auto 10px;
    }
}

.breadcrumbs {
    margin: 0 auto;
    padding: 0 16px 16px;
    max-width: calc($max-width - 40px);

    @include breakpoint(lg) {
        padding: 0 32px 32px;
    }
}

.breadcrumbs-wrapper {
    display: flex;
    align-items: center;
    overflow-x: auto;
}

.breadcrumbs-item {
    font: var(--font-description-l);
    color: var(--fg-soft, #9398a0);
    white-space: nowrap;

    @include breakpoint(lg) {
        font: var(--font-body-s);
    }
}

.breadcrumbs-item span {
    user-select: none;
}

.breadcrumbs-separator {
    margin: 0 8px;
    display: flex;
    font: var(--font-description-l);
    color: var(--fg-soft, #9398a0);

    @include breakpoint(lg) {
        font: var(--font-body-s);
    }
}

.main-title {
    padding: 16px;
    font: var(--font-display-xs-strong);
    letter-spacing: var(--lp-display-xs-strong);

    @include breakpoint(md) {
        font: var(--font-display-s-strong);
    }

    @include breakpoint(lg) {
        padding: 32px 32px 24px;
        font: var(--font-display-l-strong);
    }

    & span {
        margin-left: 10px;
        font: var(--font-body-l);
        color: var(--accent-default);

        @include breakpoint(md) {
            font: var(--font-display-xs);
            letter-spacing: var(--lp-display-xs);
        }

        @include breakpoint(lg) {
            font: var(--font-display-s);
            letter-spacing: var(--lp-display-s);
        }
    }
}

.catalog-header {
    padding: 10px 10px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    border-top: 1px solid var(--border-default, #eaeaec);

    .input-search {
        & .search-icon {
            margin-right: 10px;

            & .icon {
                width: 20px;
                height: 20px;
            }
        }

        & input {
            display: block;
        }
    }
}

.filter-search {
    margin-bottom: 10px;
    width: 100%;
}

.filter-btn {
    background: var(--bg-surface1, #fff);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 36px;
    height: 36px;
    border-radius: 8px;
    border: 1px solid var(--border-default, #eaeaec);
    cursor: pointer;

    & .icon {
        width: 16px;
        height: 16px;
        stroke: var(--fg-default);
    }
}

.sorting__btn {
    padding: 8px 16px;
    background: var(--bg-surface1, #fff);
    display: flex;
    align-items: center;
    max-width: max-content;
    border-radius: 8px;
    border: 1px solid var(--border-default, #eaeaec);
    user-select: none;
    cursor: pointer;

    & .icon {
        margin-right: 10px;
        width: 16px;
        height: 16px;
        stroke: var(--fg-soft);
    }
}
