.breadcrumbs {
    margin: 16px auto;
    max-width: $max-width;
}

.breadcrumbs-wrapper {
    padding: 0 $container 0 26px;
    display: flex;
    align-items: center;
    overflow-x: auto;

    @include breakpoint(md) {
        padding-left: 32px;
    }

    @include breakpoint(lg) {
        padding-left: 40px;
    }
}

.breadcrumbs-item {
    font: var(--font-description-l);
    color: var(--fg-soft, #9398a0);
    white-space: nowrap;

    @include breakpoint(lg) {
        font: var(--font-body-s);
    }
}

.breadcrumbs-item span {
    user-select: none;
}

.breadcrumbs-separator {
    margin: 0 8px;
    display: flex;
    font: var(--font-description-l);
    color: var(--fg-soft, #9398a0);

    @include breakpoint(lg) {
        font: var(--font-body-s);
    }
}
