.popup-active {
    & .fancybox__container {
        --fancybox-bg: rgba(40, 49, 66, 0.3);
    }

    & .fancybox__carousel {
        flex: 1;
    }

    & .fancybox__viewport {
        padding: 0;
    }

    & .fancybox__slide {
        padding: 0;
    }
}

.popup.fancybox__content > button.is-close-btn[data-fancybox-close] {
    --f-button-svg-width: 18px;
    --f-button-svg-height: 18px;
    --f-button-width: 24px;
    --f-button-height: 24px;
    --f-button-bg: transparent;
    --f-button-color: #c9cbd0;
    --f-button-hover-bg: transparent;
    --f-button-hover-color: #c9cbd0;
    margin: 0;
    top: 20px;
    right: 20px;

    @include breakpoint(lg) {
        top: 24px;
        right: 24px;
    }
}

.popup {
    padding: 20px;
    background: var(--bg-surface1, #fff);
    position: relative;
    display: none;
    width: 100%;
    max-width: 340px;
    border-radius: 20px;

    @include breakpoint(lg) {
        padding: 24px;
        max-width: 454px;
    }

    & .input {
        & label {
            @include breakpoint(lg) {
                font: var(--font-body-m);
            }
        }
    }

    & input {
        @include breakpointMax(lg) {
            height: 40px;
        }
    }

    & .input-file {
        margin-top: 20px;
    }

    & .btn {
        margin-top: 20px;
        height: 48px;

        @include breakpoint(lg) {
            margin-top: 28px;
            height: 60px;
        }
    }
}

.popup__back {
    position: absolute;
    top: 22px;
    left: 20px;
    display: flex;
    width: max-content;
    font: var(--font-description-l);
    color: var(--fg-soft, #9398a0);
    user-select: none;
    cursor: pointer;

    @include breakpoint(lg) {
        top: 30px;
        left: 24px;
    }

    & .icon {
        margin-right: 4px;
        width: 16px;
        height: 16px;
        stroke: var(--fg-soft, #9398a0);
    }
}

.popup__title {
    margin: 0 auto 20px;
    max-width: 280px;
    font: var(--font-heading-h3);
    letter-spacing: var(--lp-heading-h3);
    text-align: center;

    @include breakpoint(lg) {
        margin-bottom: 28px;
        max-width: 406px;
        font: var(--font-display-xs-strong);
        letter-spacing: var(--font-display-xs-strong);
    }
}

.popup__subtitle {
    font: var(--font-body-m);
    text-align: center;
}

.popup__toward {
    margin-bottom: 20px;

    @include breakpoint(lg) {
        margin-bottom: 28px;
    }

    & p {
        font: var(--font-body-m);
        color: var(--fg-soft, #9398a0);

        @include breakpoint(lg) {
            font: var(--font-body-l);
        }
    }

    & span {
        color: var(--fg-default, #283142);
    }

    & b {
        font: var(--font-body-m-strong);
        color: var(--fg-default, #283142);
    }

    &--center {
        text-align: center;
    }
}

.popup__form {
    display: grid;
    row-gap: 12px;

    @include breakpoint(lg) {
        row-gap: 16px;
    }
}

.popup__count {
    margin-top: 20px;
    color: var(--fg-soft, #9398a0);
    text-align: center;

    @include breakpoint(lg) {
        margin-top: 28px;
    }
}

.popup__send {
    margin: 20px auto 0;
    display: none;
    width: max-content;
    color: var(--accent-default, #f5851a);
    text-align: center;
    user-select: none;
    cursor: pointer;

    @include breakpoint(lg) {
        margin-top: 28px;
    }
}

.popup-order {
    @include breakpoint(md) {
        max-width: 600px;
    }

    @include breakpoint(lg) {
        max-width: 600px;
    }

    & .popup__title {
        @include breakpoint(md) {
            margin-bottom: 32px;
        }
    }

    & .btn {
        @include breakpoint(md) {
            margin-top: 32px;
            height: 60px;
        }
    }
}

.popup__order {
    margin-bottom: 20px;
    padding: 12px 16px;
    background: var(--bg-surface2, #f4f5f6);
    display: grid;
    grid-template-columns: max-content;
    column-gap: 12px;
    border-radius: 12px;

    @include breakpoint(md) {
        margin-bottom: 32px;
        padding: 16px;
        align-items: center;
        column-gap: 16px;
    }
}

.popup__order-img {
    padding: 4px;
    background: var(--bg-surface1, #fff);
    width: 68px;
    height: 68px;
    grid-row: 1 / 3;
}

.popup__order-title {
    margin-bottom: 8px;
    grid-column: 2;
    font: var(--font-description-l);

    @include breakpoint(md) {
        margin-bottom: 5px;
        grid-column: 2 / 4;
        font: var(--font-body-s);
    }
}

.popup__order-price {
    font: var(--font-body-s-strong);

    @include breakpoint(md) {
        display: flex;
    }

    @include breakpoint(md) {
        font: var(--font-heading-h3);
        letter-spacing: var(--lp-heading-h3);
    }

    & .discount {
        font: var(--font-description-l);
        color: var(--fg-muted, #c9cbd0);
        text-decoration: line-through;

        @include breakpoint(md) {
            margin-left: 12px;
            font: var(--font-body-m);
        }
    }
}

.popup__order-qty {
    padding: 0;
    width: 100px;
    grid-column: 2;

    @include breakpoint(md) {
        margin-left: auto;
        grid-column: 3;
    }

    & input {
        font: var(--font-body-m);
    }

    & .icon {
        width: 16px;
        height: 16px;

        @include breakpoint(md) {
            width: 18px;
            height: 18px;
        }
    }
}

.popup-city {
    max-width: 540px;

    @include breakpoint(lg) {
        max-width: 540px;
    }

    & .popup__title {
        margin-bottom: 20px;
        color: var(--foreground-primary, #13161c);

        @include breakpoint(lg) {
            margin-bottom: 32px;
            font: var(--font-display-s-strong);
        }
    }

    & .input {
        margin-bottom: 20px;

        @include breakpoint(lg) {
            margin-bottom: 32px;
        }

        & .icon {
            position: absolute;
            top: 50%;
            right: 20px;
            width: 16px;
            height: 16px;
            fill: var(--fg-default);
            transform: translateY(-50%);
        }
    }
}

.popup__input {
    & ul {
        padding: 0 12px;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        column-gap: 32px;
        row-gap: 12px;
        list-style: none;
    }

    & li {
        width: max-content;
        cursor: pointer;

        @include breakpoint(lg) {
            font: var(--font-body-m);
        }

        &:nth-child(1) {
            grid-column: 1;
            grid-row: 1;
            font: var(--font-body-s-strong);

            @include breakpoint(lg) {
                font: var(--font-body-m-strong);
            }
        }

        &:nth-child(2) {
            grid-row: 2;
            font: var(--font-body-s-strong);

            @include breakpoint(lg) {
                font: var(--font-body-m-strong);
            }
        }
    }
}
