.swiper {
    opacity: 0;
    transition: opacity 0.1s ease;
}

.swiper.swiper-initialized {
    opacity: 1;
}

.swiper-pagination {
    padding: 24px;
    position: static;
    display: flex;
    justify-content: center;
    column-gap: 11px;
}

.swiper-pagination-bullet {
    --swiper-pagination-bullet-horizontal-gap: 0;
    background: rgba(255, 255, 255, 0.4);
    position: relative;
    flex: 1 0 0;
    height: 2px;
    border-radius: 4px;
    opacity: 1;

    &-active {
        background: rgba(255, 255, 255, 1);
    }
}

.swiper-button {
    position: static;
}

// WIDGET
.widget {
    position: relative;

    & .swiper-pagination {
        padding: 0 16px;
        position: absolute;
        top: 16px;
        height: 2px;

        @include breakpoint(md) {
            padding: 0 20px;
            top: 20px;
        }

        @include breakpoint(xl) {
            padding: 0 24px;
            top: 24px;
        }
    }

    & .swiper-pagination-bullet-active {
        background: rgba(255, 255, 255, 0.4);
    }

    & .progress-bar {
        background: #fff;
        width: 0;
        height: 100%;
    }
}

// Product slider
.product {
    .swiper-pagination {
        padding: 14px 20px;
        column-gap: 8px;

        @include breakpoint(lg) {
            display: none;
        }
    }

    .swiper-pagination-bullet {
        background: var(--bg-surface4, #c9cbd0);

        @include breakpoint(md) {
            flex: unset;
            width: 54px;
        }

        &-active {
            background: var(--fg-default, #283142);
        }
    }
}
