block header

    header#header.header

        .container

            .header__top

                nav.header__nav
                    ul.header__menu
                        li.header__menu-item.has-child
                            a.header__menu-link О компании
                            ul.submenu
                                li
                                    a(href="#") О компании
                                li
                                    a(href="#") Пресс-центр
                                li
                                    a(href="#") Проекты
                                li
                                    a(href="#") Лицензии
                                li
                                    a(href="#") Отзывы

                        li.header__menu-item
                            a.header__menu-link(href="#") Контакты

                        li.header__menu-item
                            a.header__menu-link(href="#") Вакансии

                        li.header__menu-item
                            a.header__menu-link(href="#") Сервис и поддержка

                        li.header__menu-item
                            a.header__menu-link(href="#") Демозал
                            +img('badge-3d.svg')

                    ul.header__bar

                        li.header__bar-item
                            a.header__callback Заказать звонок

                        li.header__bar-item
                            a.header__phone(href="tel:+74952151645") +7 (495) 215-16-45

                        li.header__bar-item
                            .header__location
                                +svg('Map')
                                p Москва

            .header__main

                .header__logo
                    a(href="/")
                        +img('Logo_main.svg')

                button.header__catalog
                    +svg('catalog')
                    p Каталог

                .header__search
                    form
                        .input-search
                            button(type="submit" aria-label="Поиск").search-icon
                                +svg('Search')
                            input#header_search(type="search", name="header_search", placeholder="Поиск по сайту" autocomplete="off")
                            .input-search__clear
                                +svg('X')

                button.header__selection.btn.btn--primary Подобрать станок

                .header__icons
                    a(href="#").header__icons-item.header-home
                        .icon-item
                            +svg('Home')
                        p Главная

                    a(href="#").header__icons-item.header-catalog
                        .icon-item
                            +svg('catalog')
                        p Каталог

                    a(href="#").header__icons-item.header-compare
                        .icon-item(data-count=3)
                            +svg('Compare')
                        p Сравнение

                    a(href="#").header__icons-item.header-favourite
                        .icon-item(data-count=3)
                            +svg('Heart')
                        p Избранное

                    a(href="#").header__icons-item.header-basket
                        .icon-item(data-count=3)
                            +svg('Basket')
                        p Корзина

                    a(href="#").header__icons-item.header-user
                        .icon-item
                            +svg('User')
                        p Войти

                .header__category
                    .header__category-item
                        a(href="#")
                            +svg('saw')
                            p Металлообработка
                        .header__subcategory
                            a(href="#" data-count=123) Сверление и обработка отверстий
                            a(href="#" data-count=123) Металлорежущий инструмент
                            a(href="#" data-count=123) Обработка кромки, снятие фаски
                            a(href="#" data-count=123) Шлифовка и полировка
                            a(href="#" data-count=123) Труборезы
                            a(href="#" data-count=123) Обработка профиля
                            a(href="#" data-count=123) Фрезерные станки
                            a(href="#" data-count=123) Токарные станки

                    .header__category-item
                        a(href="#")
                            +svg('laser')
                            p Лазерное оборудование

                    .header__category-item
                        a(href="#")
                            +svg('press')
                            p Прессовое оборудование

                    .header__category-item
                        a(href="#")
                            +svg('welder')
                            p Сварочное оборудование

                    .header__category-item
                        a(href="#")
                            +svg('helmet')
                            p Строительное оборудование

                    .header__category-item
                        a(href="#")
                            +svg('crane')
                            p Инструмент

                    .header__category-item
                        a(href="#")
                            +svg('gear')
                            p Запасные части

                button(aria-label="Меню")#burger.header__burger
                    +svg('Burger')
                    +svg('X')


        //- #mobile-menu.mobile-menu

            .header__search
                form
                    .input-search
                        button(type="submit" aria-label="Поиск").search-icon
                            +svg('Search')
                        input#header_search(type="search", name="header_search", placeholder="Поиск по сайту", autocomplete="off")

            .header__category
                .header__category-item
                    a(href="#")
                        +svg('saw')
                        p Металлообработка
                    .header__subcategory
                        a(href="#" data-count=123) Сверление и обработка отверстий
                        a(href="#" data-count=123) Металлорежущий инструмент
                        a(href="#" data-count=123) Обработка кромки, снятие фаски
                        a(href="#" data-count=123) Шлифовка и полировка
                        a(href="#" data-count=123) Труборезы
                        a(href="#" data-count=123) Обработка профиля
                        a(href="#" data-count=123) Фрезерные станки
                        a(href="#" data-count=123) Токарные станки

                .header__category-item
                    a(href="#")
                        +svg('laser')
                        p Лазерное оборудование

                .header__category-item
                    a(href="#")
                        +svg('press')
                        p Прессовое оборудование

                .header__category-item
                    a(href="#")
                        +svg('welder')
                        p Сварочное оборудование

                .header__category-item
                    a(href="#")
                        +svg('helmet')
                        p Строительное оборудование

                .header__category-item
                    a(href="#")
                        +svg('crane')
                        p Инструмент

                .header__category-item
                    a(href="#")
                        +svg('gear')
                        p Запасные части

            nav.header__nav
                ul.header__menu
                    li.header__menu-item.has-child
                        a.header__menu-link О компании
                        ul.submenu
                            li
                                a(href="#") О компании
                            li
                                a(href="#") Пресс-центр
                            li
                                a(href="#") Проекты
                            li
                                a(href="#") Лицензии
                            li
                                a(href="#") Отзывы

                    li.header__menu-item
                        a.header__menu-link(href="#") Контакты

                    li.header__menu-item
                        a.header__menu-link(href="#") Вакансии

                    li.header__menu-item
                        a.header__menu-link(href="#") Сервис и поддержка

                    li.header__menu-item
                        a.header__menu-link(href="#") Демозал
                        +img('badge-3d.svg')

                ul.header__bar

                    li.header__bar-item
                        a.header__callback Заказать звонок

                    li.header__bar-item
                        a.header__phone(href="tel:+74952151645") +7 (495) 215-16-45

                    li.header__bar-item
                        .header__location
                            +svg('Map')
                            p Москва

            button.header__selection.btn.btn--primary Подобрать станок