.brands-header {
  padding-left: 10px;
  @include breakpoint(lg) {
    display: none;
  }
}

.brands {
  top: 78px;

  @include breakpoint(md) {
    top: 84px;
  }

  @include breakpointMax(lg) {
    padding: 20px;
    background: var(--bg-surface1);
    height: fit-content;
    border-radius: 12px;
    position: fixed;

    left: -100%;
    width: calc(100% - var(--container) * 2);
    transition: 0.2s ease-in-out;
    z-index: 20;

    .container {
      padding: 0;
    }
  }

  @include breakpoint(lg) {
    top:  unset;
  }

  &.show {
    left: var(--container);
    overflow-y: scroll;
  }


  .brands__inner {

    &.active {
      display: grid;
      grid-template-columns: 1fr auto;
      column-gap: 98px;
      .brands__inner-clear {
        display: flex;
      }
    }

    .brands__inner-title {
      @include flexCenterBetween;
      font: var(--font-heading-h3);

      & .close {
        width: 24px;
        height: 24px;
        stroke: var(--fg-muted);
      }

    }

    .brands__inner-actions, .brands__inner-title {
      @include breakpoint(lg) {
        display: none;
      }
    }

    .brands__inner-letters {

      display: flex;
      flex-wrap: wrap;
      gap: 7px;

      @include breakpointMax(lg) {
        margin-top: 20px;
      }

      .letter {
        width: 44px;
        height: 44px;
        @include flexCenterCenter;
        border-radius: 12px;
        background-color: var(--bg-surface1);
        cursor: pointer;
        font-size: 16px;
        color: var(--fg-muted);
        transition: $transition;

        @include breakpointMax(lg) {
          border: 1px solid var(--border-default);
        }

        @include breakpoint(lg) {
          width: 48px;
          height: 48px;
        }

        &.active {
          background-color: var(--accent-default);
          border-color: transparent;
          color: var(--static-white);
        }
      }

    }

    .brands__inner-actions {
      @include flexCenterBetween;
      gap: 8px;
      margin-top: 24px;

      .btn {
        width: 50%;
        height: 46px;
      }
    }
    .brands__inner-clear {
      display: none;
      align-items: center;
      align-self: flex-start;
      //gap
      svg.icon {
        stroke: #9398A0;
      }
      .icon {

      }
    }

  }
}

.brands-list {
  @include sectionPaddingBottom;

  .brands-list__inner {


    .brands-list__items {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 10px;

      @include breakpoint(md) {
        grid-template-columns: repeat(3, 1fr);
        gap: 16px;
      }
      @include breakpoint(lg) {
        grid-template-columns: repeat(4, 1fr);
        margin-top: 20px;
      }
      @include breakpoint(xl) {
        gap: 20px;
      }

      .brand {
        padding: 10px;
        background-color: var(--static-white);
        border-radius: 6px;

        @include breakpoint(xl) {
          padding: 20px;
        }


        img {
          height: 68px;

          @include breakpoint(md) {
            height: 120px;
          }
          @include breakpoint(lg) {
            height: 140px;
          }
        }
      }
    }
  }
}

.section-brand {
  @include sectionPaddingBottom;

  .section-brand__inner {
    .section-sidebar {
      padding: 16px 16px 0;

      .section-sidebar-info.two-column {
        margin-top: 0;
        border-top: 1px solid var(--border-default);
      }

      .section-sidebar-image {
        margin-bottom: 16px;

      }
    }


    .section-products {

      @include breakpoint(lg) {
        grid-column: 2/3;
      }

      .products__inner {
        .products__inner-title {
          font: var(--font-display-m);
          padding: 42px 16px 16px;

          @include breakpoint(lg) {
            padding: 64px 32px 32px;
          }
        }

        .products__inner-items {
          display: grid;
          grid-template-columns: 100%;
          gap: 10px;

          @include breakpoint(md) {
            grid-template-columns: repeat(2, 1fr);
            gap: 16px;
          }
          @include breakpoint(lg) {
            gap: 10px;
          }
        }
      }
    }

    .section-action {
      margin-top: 14px;
      @include breakpoint(lg) {
        grid-column: 2/3;
      }

      @include breakpoint(md) {
        margin-top: 22px;
      }
      @include breakpoint(lg) {
        margin-top: 16px;
        width: 228px;
        justify-self: center;
      }

      @include breakpoint(xl) {
        margin-top: 20px;
      }

      .btn {
        height: 48px;
      }
    }

  }
}

