.page-cart {
    & .page-header {
        margin-bottom: 16px;
        padding: 0;
        background: none;

        @include breakpointMax(lg) {
            display: none;
        }

        @include breakpoint(xl) {
            margin-bottom: 20px;
        }
    }

    & .breadcrumbs {
        padding: 0 8px;
    }
}

.cart {
    margin-top: 10px;

    @include breakpoint(md) {
        margin-top: 16px;
    }

    @include breakpoint(lg) {
        margin-top: 0;
    }
}

.cart-header {
    padding: 20px 16px 0;
    background: var(--bg-surface1, #fff);
    border-radius: 12px;
}

.cart__title {
    margin-bottom: 20px;
    position: relative;

    & h1 {
        font: var(--font-display-xs-strong);
        letter-spacing: var(--lp-display-xs-strong);

        @include breakpoint(lg) {
            font: var(--font-heading-h2);
            letter-spacing: var(--lp-heading-h2);
        }
    }

    &::after {
        content: '';
        background: var(--border-default, #eaeaec);
        position: absolute;
        left: -16px;
        bottom: -20px;
        width: calc(100% + 32px);
        height: 1px;
    }
}

.cart-header__action {
    margin-top: 30px;
    padding: 10px;
    display: flex;
    justify-content: space-between;
}

.cart-header__action-item {
    display: flex;
    align-items: center;
    column-gap: 4px;
    font: var(--font-description-l);
    user-select: none;
    cursor: pointer;

    & .icon {
        width: 16px;
        height: 16px;
        fill: var(--fg-soft);
    }

    & .icon-Share {
        fill: none;
        stroke: var(--fg-soft);
    }
}

.cart-total {
    margin-top: 16px;

    & .btn {
        width: 100%;
        height: 48px;
    }
}

.cart-total__inner {
    padding: 16px;
    background: var(--bg-surface1, #fff);
    border-radius: 16px;
}

.cart-total__title {
    font: var(--font-body-m-strong);
    color: var(--fg-soft, #9398a0);

    &::after {
        content: '';
        margin: 10px 0 22px;
        background: var(--border-default, #eaeaec);
        display: block;
        width: 100%;
        height: 1px;
    }
}

.cart-total__info-total {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.cart-total__info-discount {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.cart-total__sum {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.cart-total__leasing {
    margin: 12px 0;
    text-align: center;

    & a {
        margin-top: 12px;
        display: flex;
        align-items: center;
        justify-content: center;
        font: var(--font-body-m);
        color: var(--fg-soft, #9398a0);

        & .icon {
            margin-left: 4px;
            width: 16px;
            height: 16px;
            stroke: var(--fg-soft);
        }
    }
}
