.about.showroom-about {
    margin-top: 10px;
    display: block;
    padding: 0;

    @include breakpoint(md) {
        margin-top: 16px;
    }

    @include breakpoint(xl) {
        margin-top: 20px;
    }

    .about-banner {
        height: 340px;
        border-radius: 16px;
        margin: 0;

        @include breakpoint(lg) {
            height: 600px;
        }
    }
}

.about.showroom-tour {
    padding: 0;
    margin-top: 10px;
    border-radius: 16px;
    display: block;

    .about-wrapper {
        padding: 20px 10px 10px;

        @include breakpoint(lg) {
            padding: 24px 20px 20px;
        }

        .about-wrapper__title {
            font: var(--font-display-xs-strong);
            letter-spacing: var(--lp-display-xs-strong);

            @include breakpoint(md) {
                font: var(--font-display-s-strong);
                letter-spacing: var(--lp-display-s-strong);
            }
            @include breakpoint(xl) {
                font: var(--font-display-m-strong);
                letter-spacing: var(--lp-display-m-strong);
            }
        }
    }
    .about-banner {
        margin: 48px 0 0;
        align-items: center;
        justify-content: center;

        @include breakpoint(md) {
            height: 600px;
        }
        @include breakpoint(lg) {
            margin-top: 64px;
        }
        .about-banner__image {
            filter: blur(22.049999237060547px);

            &::before {
                display: none;
            }
        }

        .about-banner__text {
            font: 400 normal 84px/100% 'Stapel';
            letter-spacing: -2.505px;
            opacity: 0.45;
            color: var(--static-white);
        }
    }
}

.section-slider.showroom-slider {
    .head-block .title {
        font: var(--font-display-xs-strong);
        letter-spacing: var(--lp-display-xs-strong);
        @include breakpointMax(lg) {
            width: 35%;
        }
        @include breakpoint(lg) {
            font: var(--font-display-l-strong);
            letter-spacing: var(--lp-display-l-strong);
        }
    }
}

.section-banner.showroom-banner {
    margin-top: 10px;
    @include sectionPaddingBottom;

    @include breakpoint(lg) {
        margin-top: 16px;
    }
    @include breakpoint(xl) {
        margin-top: 20px;
    }

    .banner__block-item {
        display: grid;
        grid-template-columns: auto 1fr;
        gap: 4px 24px;

        .banner__block-item-icon {
            grid-column: 1/2;
            grid-row: 1/3;
        }
    }

    .banner__block-item:first-child {
        p:first-child {
            @include breakpoint(lg) {
                width: 62%;
            }
        }

        p:last-child {
            color: var(--fg-soft);
            font: var(--font-body-m);
            letter-spacing: var(--lp-body-m);
        }
    }

    .banner__block-item:nth-child(2) {
        .icon {
            fill: black;
            stroke: none;
        }
    }

    .banner {
        max-width: unset;
    }

    .banner__img {
        &::before {
            content: '';
            position: absolute;
            top: 0;
            bottom: unset;
            left: 0;
            width: 100%;
            height: 100%;
            background: linear-gradient(0deg, rgba(0, 0, 0, 0) 15.42%, rgba(0, 0, 0, 0.4) 85.5%);
            z-index: 1;
            border-radius: inherit;
            pointer-events: none;
        }
    }

    .banner__title {
        font: var(--font-display-xs-strong);
        letter-spacing: var(--lp-display-xs-strong);
        @include breakpointMax(md) {
            width: unset;
        }
        @include breakpoint(md) {
            font: var(--font-heading-h1);
            letter-spacing: var(--lp-heading-h1);
        }
        @include breakpointMax(lg) {
            background-color: unset;
            color: var(--static-white);
        }

        @include breakpoint(lg) {
            width: 595px;
            font: var(--font-display-m-strong);
            letter-spacing: var(--lp-display-m-strong);
        }
        @include breakpoint(lg) {
        }
    }

    .banner__wrap {
        @include breakpointMax(lg) {
            width: 100%;
        }

        @include breakpoint(lg) {
            padding-top: 0;
            width: 595px;
            position: relative;
        }

        .about-banner__contacts {
            max-width: unset;

            position: static;

            .about-banner__contacts-info {
                p,
                a {
                    @include breakpoint(lg) {
                        font: var(--font-body-m);
                        letter-spacing: var(--lp-body-m);
                    }
                }
            }

            .about-banner__btn {
                @include breakpoint(lg) {
                    position: absolute;
                    bottom: 0;
                    right: 0;
                    width: 211px;
                    height: 112px;
                    padding: 11px 11px 10px 13px;
                    font: var(--font-body-l-strong);
                    letter-spacing: var(--lp-body-l-strong);
                }

                .icon {
                    @include breakpoint(lg) {
                        width: 24px;
                        height: 24px;
                    }
                }
            }

            .about-banner__contacts-item {
                @include breakpoint(lg) {
                    padding-left: 0;
                }
            }
        }

        @include breakpointMax(lg) {
            margin-top: 235px;
        }
    }
}
