.section-hero {
    margin-top: 10px;

    @include breakpoint(md) {
        margin-top: 16px;
    }
}

.hero {
    display: grid;
    row-gap: 10px;

    @include breakpoint(md) {
        grid-template-columns: 1fr 1fr;
        gap: 16px;
    }

    @include breakpoint(lg) {
        grid-template-columns: 8fr 4fr;
        grid-auto-rows: auto 86px;
        row-gap: 20px;
    }

    @include breakpoint(xl) {
        gap: 20px;
    }
}

.hero-main {
    background: var(--Accent-Gradient, linear-gradient(101deg, #f5b316 -6.09%, #f5851a 105.07%));
    position: relative;
    border-radius: 16px;
    overflow: hidden;
    isolation: isolate;

    @include breakpoint(md) {
        display: flex;
        flex-direction: column;
    }
}

.hero__title {
    padding: 20px 16px 0;
    font: var(--font-display-xs-strong);
    letter-spacing: var(--lp-display-xs-strong);
    color: var(--accent-on-accent, #fff);

    @include breakpoint(lg) {
        padding: 24px 32px 0;
        font: var(--font-display-l-strong);
    }

    & span {
        margin-left: 5px;
        color: rgba(255, 255, 255, 0.45);

        @include breakpoint(lg) {
            margin-left: 10px;
        }
    }
}

.hero__img {
    position: absolute;
    right: -30px;
    width: 270px;
    height: 152px;
    z-index: -1;

    @include breakpoint(md) {
        top: 88px;
        right: -32px;
        width: 294px;
        height: 166px;
    }

    @include breakpoint(lg) {
        top: unset;
        right: -165px;
        bottom: 0;
        width: 600px;
        height: 340px;
    }

    @include breakpoint(xl) {
        right: -65px;
    }
}

.hero__btn {
    margin-top: 120px;
    margin-left: 8px;
    margin-bottom: 8px;
    width: 162px;

    @include breakpoint(md) {
        margin-top: auto;
        width: 160px;
    }

    @include breakpoint(lg) {
        margin-left: 10px;
        margin-bottom: 10px;
        padding: 12px 12px 12px 16px;
        width: 220px;
        height: 120px;
        font: var(--font-body-l-strong);
    }

    & .icon {
        @include breakpoint(lg) {
            width: 24px;
            height: 24px;
        }
    }
}

.hero-slider {
    border-radius: 16px;
    overflow: hidden;

    @include breakpoint(lg) {
        grid-column: 2 / 3;
        grid-row: 1 / 3;
    }
}

.hero-slider__item {
    display: flex;
    flex-direction: column;
    height: auto;
    min-height: 340px;
    isolation: isolate;

    @include breakpoint(md) {
        min-height: 320px;
    }

    @include breakpoint(lg) {
        min-height: 600px;
    }
}

.hero-slider__item-img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;

    &::before {
        content: '';
        background: linear-gradient(0deg, rgba(0, 0, 0, 0) 0%, #000 100%);
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 170px;
        opacity: 0.7;
        z-index: 0;
    }

    & img {
        object-fit: cover;
    }
}

.hero-slider__item-title {
    margin-top: 34px;
    padding: 0 16px;
    font: var(--font-heading-h3);
    letter-spacing: var(--lp-heading-h3);
    color: var(--accent-on-accent, #fff);

    @include breakpoint(md) {
        margin-top: 42px;
        padding: 0 20px;
        font: var(--font-heading-h2);
    }

    @include breakpoint(lg) {
        font: var(--font-display-s-strong);
    }

    @include breakpoint(xl) {
        margin-top: 50px;
    }
}

.hero-slider__item-text {
    padding: 16px;
    color: var(--accent-on-accent, #fff);
}

.hero-slider__item-action {
    margin-top: auto;
    padding: 0 8px 8px;
    display: grid;
    grid-template-columns: 158px 158px;
    column-gap: 8px;

    @include breakpoint(md) {
        grid-template-columns: 168px 168px;
    }

    @include breakpoint(lg) {
        grid-template-columns: 200px auto;
    }

    @include breakpoint(xl) {
        padding: 0 10px 10px;
        grid-template-columns: 220px auto;
        column-gap: 10px;
    }
}

.hero-slider__item-btn {
    @include breakpoint(lg) {
        padding: 12px 12px 12px 16px;
        height: 120px;
        font: var(--font-body-l-strong);
    }

    @include breakpoint(xl) {
        height: 134px;
    }

    & .icon {
        @include breakpoint(lg) {
            width: 24px;
            height: 24px;
        }
    }
}

.hero-slider__item-links {
    background: rgba(255, 255, 255, 0.05);
    display: grid;
    border-radius: 8px;
    backdrop-filter: blur(30px);
    overflow: hidden;

    & a {
        display: flex;
        align-items: center;
        font: var(--font-description-l);
        color: var(--accent-on-accent, #fff);
        transition: $transition;

        @include breakpoint(lg) {
            font: var(--font-body-s);
        }

        & .icon {
            margin: 0 8px;
            width: 20px;
            height: 20px;
            fill: #fff;
            opacity: 0.5;
        }

        & ~ a {
            border-top: 0.5px solid rgba(255, 255, 255, 0.2);
        }

        &:hover {
            background: rgba(255, 255, 255, 0.3);
        }
    }
}

.hero-tape {
    overflow: hidden;

    @include breakpoint(md) {
        @include breakpointMax(lg) {
            grid-column: 1 / 3;
        }
    }
}

.hero-tape__item {
    padding: 8px;
    background: var(--bg-surface1, #fff);
    display: flex;
    align-items: center;
    width: 260px;
    height: auto;
    border-radius: 16px;

    @include breakpoint(lg) {
        width: 290px;
    }

    & ~ .hero-tape__item {
        margin-left: 10px;

        @include breakpoint(md) {
            margin-left: 8px;
        }

        @include breakpoint(xl) {
            margin-left: 10px;
        }
    }
}

.hero-tape__item-icon {
    padding: 17px 20px;
    display: flex;
    border-radius: 12px;
}

.hero-tape__item-title {
    margin-left: 24px;
    font: var(--font-body-m-strong);
    user-select: none;

    @include breakpoint(lg) {
        font: var(--font-body-l-strong);
    }
}
