.project-page {

  .page-header {
    @include breakpoint(lg) {
      position: relative;
    }

    .messengers {
      @include breakpoint(lg) {
        position: absolute;
        right: 5px;
        bottom: 35px;
      }

      @include breakpoint(xl) {
        right: 10px;
      }
    }
  }

}

.section-project {

  .section-sidebar {
    padding: 32px 16px 8px;
  }

}