.page-product {
    @include breakpointMax(lg) {
        padding-bottom: 130px;
    }

    & .page-header {
        margin: 10px auto;
        padding: 0;
        background: transparent;

        & .breadcrumbs {
            margin: 16px auto;
            padding: 0;
        }

        & .breadcrumbs-wrapper {
            padding-left: 26px;

            @include breakpoint(md) {
                padding-left: 32px;
            }

            @include breakpoint(lg) {
                padding-left: 40px;
            }

            @include breakpoint(xl) {
                padding-left: 16px;
            }
        }
    }

    & main {
        padding-bottom: 20px;

        @include breakpoint(md) {
            padding-bottom: 30px;
        }

        @include breakpoint(lg) {
            padding-bottom: 50px;
        }

        @include breakpoint(xl) {
            padding-bottom: 120px;
        }
    }

    & .section-banner {
        margin: 10px 0;

        @include breakpoint(md) {
            margin: 30px 0;
        }
    }
}

.product {
    background: var(--bg-surface1, #fff);
    border-radius: 16px;
    overflow: hidden;

    @include breakpoint(lg) {
        padding: 16px;
        display: grid;
        grid-template-columns: 5fr 7fr;
        column-gap: 16px;
    }

    @include breakpoint(xl) {
        padding: 20px 24px 20px 20px;
        column-gap: 40px;
        grid-template-columns: 572px auto;
    }
}

.product__gallery {
    overflow: hidden;
}

.product__main {
    position: relative;

    @include breakpoint(lg) {
        padding: 22px 0 21px;
    }

    @include breakpoint(xl) {
        padding: 57px 22px 30px;
    }

    & .swiper-slide {
        display: flex;
        align-items: center;
        justify-content: center;
        height: auto;

        @include breakpoint(md) {
            padding-top: 10px;
        }

        @include breakpoint(lg) {
            padding: 0;
            cursor: pointer;
        }

        & img {
            max-width: 425px;
            aspect-ratio: 340 / 280;

            @include breakpoint(md) {
                max-width: 480px;
                aspect-ratio: 480 / 400;
            }

            @include breakpoint(lg) {
                max-width: 100%;
            }

            @include breakpoint(xl) {
                aspect-ratio: 529 / 450;
            }
        }

        & video {
            max-width: 425px;

            @include breakpoint(md) {
                max-width: 480px;
            }

            @include breakpoint(lg) {
                max-width: 100%;
            }
        }

        & .zoom-in {
            background: var(--bg-surface1, #fff);
            position: absolute;
            top: 50%;
            left: 50%;
            z-index: 1;
            display: none;
            align-items: center;
            justify-content: center;
            width: 56px;
            height: 56px;
            border-radius: 6px;
            opacity: 0.4;
            box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.05);
            transform: translate(-50%, -50%);

            & .icon {
                fill: var(--fg-default);
            }
        }

        &:hover .zoom-in {
            display: flex;
        }
    }
}

.product__label-link {
    padding: 4px 6px;
    background: var(--status-04-50, #f5e9ff);
    position: absolute;
    top: 8px;
    right: 8px;
    display: flex;
    font: var(--font-description-l);
    border-radius: 8px;
    z-index: 2;

    @include breakpoint(md) {
        top: auto;
        right: 50%;
        bottom: 36px;
        transform: translateX(50%);
    }

    @include breakpoint(lg) {
        padding: 8px 18px;
        bottom: 21px;
    }

    & .icon {
        margin-right: 4px;
        width: 16px;
        height: 16px;
        fill: var(--fg-default);
    }
}

.product__thumbs {
    @include breakpointMax(lg) {
        display: none;
    }

    @include breakpoint(lg) {
        margin-top: 26px;
    }

    @include breakpoint(xl) {
        margin-top: 20px;
    }

    & .swiper-wrapper {
        row-gap: 10px;

        @include breakpointMax(xl) {
            flex-wrap: wrap;
        }
    }

    & .swiper-slide {
        padding: 8px 4px;
        background: var(--bg-surface1, #fff);
        display: flex;
        align-items: center;
        justify-content: center;
        width: 64px;
        height: 64px;
        border-radius: 8px;
        border: 1px solid transparent;
        overflow: hidden;
        cursor: pointer;

        @include breakpoint(xl) {
            padding: 14px 8px;
            width: 87px;
            height: 87px;
        }

        &-thumb-active {
            border-color: var(--accent-200, #fac28d);
        }

        & .icon {
            fill: var(--accent-300);
        }
    }

    & .thumb-play {
        background: var(--bg-surface2, #f4f5f6);
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100%;
    }
}

.product__info {
    @include breakpoint(md) {
        display: grid;
        column-gap: 16px;
        grid-template-columns: auto 344px;
    }

    @include breakpoint(lg) {
        grid-template-columns: auto 300px;
        column-gap: 80px;
        grid-auto-rows: max-content;
    }

    @include breakpoint(xl) {
        grid-template-columns: auto 340px;
        column-gap: 75px;
    }
}

.product__title {
    margin-bottom: 24px;
    padding: 16px 16px 0;
    font: var(--font-heading-h3);
    letter-spacing: var(--lp-heading-h3);

    @include breakpoint(md) {
        grid-column: 1 / 3;
        font: var(--font-heading-h2);
        letter-spacing: var(--lp-heading-h2);
    }

    @include breakpoint(lg) {
        margin-bottom: 32px;
        padding: 18px 0;
        font: var(--font-display-xs-strong);
        letter-spacing: var(--lp-display-xs-strong);
    }

    @include breakpoint(xl) {
        padding: 16px 54px 0 0;
        font: var(--font-display-s-strong);
        letter-spacing: var(--lp-display-s-strong);
    }
}

.product__block {
    @include breakpoint(md) {
        padding: 0 16px;
        grid-column: 1 / 3;
        display: flex;
        align-items: flex-start;
    }

    @include breakpoint(lg) {
        padding: 0;
        grid-column: 2;
        grid-row: 2 / 4;
        flex-direction: column;
    }
}

.product__block-action {
    padding: 6px 12px;
    background: var(--neutral-10, #f9f9f9);
    display: flex;
    column-gap: 20px;
    border-radius: 8px;

    @include breakpointMax(xl) {
        width: max-content;
    }

    @include breakpointMax(md) {
        margin: 0 8px;
    }

    @include breakpoint(md) {
        margin-left: auto;
        order: 1;
        flex-shrink: 0;
        column-gap: 30px;
    }

    @include breakpoint(lg) {
        margin-left: 0;
        margin-bottom: 10px;
        order: unset;
        column-gap: 8px;
    }

    @include breakpoint(xl) {
        justify-content: space-between;
        width: 100%;
    }

    & .icon:not(.icon-Compare) {
        margin-right: 4px;
        width: 16px;
        height: 16px;
        stroke: var(--fg-soft);
    }

    & .icon-Compare {
        margin-right: 4px;
        width: 16px;
        height: 16px;
        fill: var(--fg-soft);
    }
}

.product__block-btn {
    position: relative;
    display: flex;
    align-items: center;
    font: var(--font-description-l);
    transition: $transition;
    user-select: none;
    cursor: pointer;

    &:hover {
        color: var(--base-accent, #f5851a);

        & .icon:not(.icon-Compare) {
            stroke: var(--base-accent, #f5851a);
        }

        & .icon-Compare {
            fill: var(--base-accent, #f5851a);
        }
    }

    & .tooltip__content {
        left: 50%;
        bottom: calc(100% + 7px);
    }
}

.product__block-btn.active {
    &::before {
        content: '';
        margin-right: 4px;
        background-size: contain;
        display: none;
        width: 16px;
        height: 16px;
    }

    &.product-compare {
        &::before {
            background-image: $compareFilled;
            display: block;
        }

        & .icon {
            display: none;
        }
    }

    &.product-favourite {
        &::before {
            background-image: $heartFilled;
            display: block;
        }

        & .icon {
            display: none;
        }
    }
}

.product__block-wrap {
    @include breakpoint(lg) {
        padding: 16px;
        background: var(--bg-surface1, #fff);
        width: 100%;
        border: var(--Number, 1px) solid var(--border-default, #eaeaec);
        border-radius: 16px;
    }
}

.product__price {
    display: flex;
    align-items: center;

    @include breakpointMax(lg) {
        flex-wrap: wrap;
    }

    @include breakpointMax(md) {
        padding: 24px 16px 0;
    }

    @include breakpoint(lg) {
        margin-bottom: 22px;
        position: relative;
        flex-direction: column-reverse;
        align-items: flex-start;
        row-gap: 22px;
    }
}

.product__price-special {
    margin-bottom: 10px;
    display: flex;
    column-gap: 12px;

    @include breakpointMax(lg) {
        width: 100%;
    }

    @include breakpoint(md) {
        margin-bottom: 24px;
    }

    @include breakpoint(lg) {
        position: absolute;
        top: 0;
        right: 0;
        flex-direction: column;
        align-items: flex-end;
        row-gap: 6px;
    }
}

.product__price-label {
    padding: 0 6px;
    height: 18px;
    font: var(--font-description-l);
    border-radius: 6px;

    @include breakpoint(lg) {
        width: max-content;
    }
}

.product__price-current {
    font: var(--font-heading-h3);
    letter-spacing: var(--lp-heading-h3);

    @include breakpoint(md) {
        font: var(--font-heading-h2);
        letter-spacing: var(--lp-heading-h2);
    }

    @include breakpoint(xl) {
        font: var(--font-display-xs-strong);
        letter-spacing: var(--lp-display-xs-strong);
    }
}

.product__price-discount {
    font: var(--font-body-s);
    color: var(--fg-muted, #c9cbd0);
    text-decoration: line-through;

    @include breakpointMax(lg) {
        margin-left: 12px;
    }

    @include breakpoint(lg) {
        font: var(--font-body-m);
    }
}

.product__btn {
    @include breakpointMax(lg) {
        padding: 16px 16px 32px;
        background: var(--bg-surface1, #fff);
        position: fixed;
        left: 0;
        bottom: 44px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        column-gap: 12px;
        width: 100%;
        border-radius: 16px 16px 0 0;
        border-bottom: 1px solid var(--border-default, #eaeaec);
        z-index: 19;
    }

    @include breakpoint(lg) {
        display: flex;
        flex-direction: column;
        row-gap: 16px;
    }
}

.product__btn-fast {
    @include breakpointMax(lg) {
        width: 100%;
    }
}

.product__btn-cart {
    @include breakpointMax(lg) {
        background: var(--bg-surface1, #fff);
        flex-shrink: 0;
        width: 80px;
        border: 1px solid #f5b316;
    }

    & p {
        @include breakpointMax(lg) {
            display: none;
        }
    }

    & .icon {
        fill: #f5b316;

        @include breakpoint(lg) {
            display: none;
        }
    }
}

.product__block-leasing {
    @include breakpointMax(lg) {
        display: none;
    }

    @include breakpoint(lg) {
        margin-top: 12px;
        padding: 0 16px;
        width: 100%;
        text-align: center;
    }

    & a {
        margin-top: 12px;
        display: flex;
        align-items: center;
        justify-content: center;
        color: var(--fg-soft, #9398a0);

        & .icon {
            margin-left: 4px;
            width: 16px;
            height: 16px;
            stroke: var(--fg-soft);
        }
    }
}

.product__stock {
    padding: 24px 16px;
    display: flex;
    column-gap: 16px;

    @include breakpoint(md) {
        grid-column: 1 / 3;
    }

    @include breakpoint(lg) {
        padding: 0;
        grid-column: 1;
        flex-direction: column-reverse;
        align-items: flex-start;
    }
}

.product__article {
    order: 1;
    display: flex;
    color: var(--fg-soft, #9398a0);

    @include breakpointMax(xl) {
        font: var(--font-description-l);
    }

    @include breakpoint(lg) {
        margin-bottom: 24px;
    }

    & p {
        margin-right: 5px;
    }

    & .tooltip__content {
        left: auto;

        @include breakpointMax(md) {
            transform: translateX(-75%);
        }
    }
}

.article-copy {
    margin-left: 4px;
    position: relative;
    display: flex;
    user-select: none;
    cursor: pointer;

    & .icon {
        width: 16px;
        height: 16px;
        stroke: var(--fg-soft);
    }

    &:hover .icon {
        stroke: var(--fg-default);
    }

    & input {
        position: absolute;
        opacity: 0;
        z-index: -1;
    }
}

.product__status {
    padding: 6px 8px;
    background: var(--success-50, #e6f5ec);
    display: flex;
    align-items: center;
    color: var(--base-success, #019f3c);
    border-radius: 10px;

    @include breakpoint(lg) {
        margin-bottom: 24px;
    }

    & .icon {
        margin-right: 4px;
        width: 16px;
        height: 16px;
        stroke: var(--base-success);
    }
}

.product__internals {
    padding: 0 16px;

    @include breakpoint(md) {
        padding: 0 0 16px 16px;
    }

    @include breakpoint(lg) {
        padding: 0;
    }
}

.product__internals-title {
    font: var(--font-body-s-strong);
}

.product__type {
    margin-bottom: 24px;

    @include breakpoint(md) {
        padding-right: 24px;
    }

    @include breakpoint(lg) {
        padding: 0;
    }
}

.product__type-wrap {
    margin-top: 12px;
    display: flex;
    flex-wrap: wrap;
    row-gap: 12px;
    column-gap: 12px;
    list-style: none;
}

.product__type-item {
    padding: 4px 8px;
    border-radius: 4px;
    border: 1px solid var(--border-default, #eaeaec);
    user-select: none;
    cursor: pointer;

    &.selected {
        border-color: var(--accent-muted, #f9b06a);
    }
}

.product__props {
    @include breakpointMax(md) {
        padding-bottom: 24px;
        border-bottom: 1px solid var(--border-default, #eaeaec);
    }

    @include breakpoint(md) {
        padding-right: 24px;
    }

    @include breakpoint(lg) {
        padding-right: 0;
    }
}

.product__props-wrap {
    margin-top: 8px;
    padding-top: 8px;
    display: flex;
    flex-direction: column;
    row-gap: 8px;
    border-top: 1px solid var(--border-default, #eaeaec);
}

.product__props-item {
    display: flex;
    justify-content: space-between;
}

.product__props-name {
    color: var(--fg-soft, #9398a0);
}

.product__props-value {
    text-align: right;
}

.product__props-anchor {
    margin-top: 8px;
    display: flex;
    align-items: center;
    width: max-content;
    color: var(--fg-soft, #9398a0);
    cursor: pointer;

    & .icon {
        margin-left: 4px;
        width: 16px;
        height: 16px;
        stroke: var(--fg-soft, #9398a0);
    }
}

.product__features {
    display: flex;
    flex-direction: column;
    row-gap: 24px;

    @include breakpointMax(md) {
        padding: 0 16px 16px;
        margin-top: 20px;
    }

    @include breakpoint(md) {
        grid-column: 2;
    }

    @include breakpoint(lg) {
        margin-top: 32px;
        padding-top: 20px;
        grid-column: 1 / 3;
        flex-direction: row;
        justify-content: space-between;
        border-top: 1px solid var(--border-default, #eaeaec);
    }
}

.product__features-item {
    position: relative;
    display: flex;
    align-items: flex-start;
    column-gap: 16px;

    @include breakpoint(lg) {
        column-gap: 12px;
    }

    &:last-child .tooltip__content {
        @include breakpoint(lg) {
            left: -78px;
        }
    }
}

.product__features-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 44px;
    height: 44px;
    border-radius: 8px;

    .product__features-item:nth-child(1) & {
        background: var(--triger-icons-bg2, #ceffdf);

        & .icon {
            stroke: var(--triger-icons-fg2);
        }
    }

    .product__features-item:nth-child(2) & {
        background: var(--triger-icons-bg3, #fff0cd);

        & .icon {
            stroke: var(--triger-icons-fg3);
        }
    }

    .product__features-item:nth-child(3) & {
        background: var(--triger-icons-bg1, #e2fdff);

        & .icon {
            stroke: var(--triger-icons-fg1);
        }
    }

    .product__features-item:nth-child(4) & {
        background: var(--triger-icons-bg4, #ebeaff);

        & .icon {
            stroke: var(--triger-icons-fg4);
        }
    }
}

.product__features-title {
    margin-bottom: 2px;
    font: var(--font-body-l-strong);

    @include breakpoint(lg) {
        font: var(--font-body-s-strong);
    }
}

.product__features-value {
    display: flex;
    font: var(--font-description-l);
}

.tooltip__icon {
    margin-left: 2px;
    position: relative;
    height: 16px;
    user-select: none;
    cursor: pointer;

    & .icon {
        width: 16px;
        height: 16px;
        stroke: var(--fg-muted);
    }

    &:hover,
    .tooltip.active & {
        & .icon {
            stroke: var(--fg-default);
        }
    }
}

.tooltip__content {
    padding: 8px 10px;
    background: var(--bg-surface5, #181d28);
    position: absolute;
    left: 50%;
    bottom: calc(100% + 2px);
    display: none;
    width: 276px;
    border-radius: 12px;
    z-index: 1;

    @include breakpointMax(lg) {
        transform: translateX(-50%);
    }

    @include breakpoint(lg) {
        left: -12px;
    }

    .tooltip.active & {
        display: block;
    }
}

.tooltip-show {
    & .tooltip__content {
        display: block;
        width: max-content;
        animation: $fadeOut;

        @include breakpoint(lg) {
            transform: translateX(-50%);
        }
    }
}

.tooltip__title {
    font: var(--font-body-s-strong);
    color: var(--bg-surface1, #fff);
}

.tooltip__text {
    margin-top: 6px;
    font: var(--font-description-l);
    color: var(--fg-muted, #c9cbd0);
}

.tooltip__link {
    margin-top: 12px;
    display: inline-flex;
    color: var(--accent-default, #f5851a);

    & .icon {
        margin-left: 4px;
        width: 16px;
        height: 16px;
        stroke: var(--accent-default, #f5851a);
    }
}

.fixed-bar {
    padding: 11px 10px 11px 24px;
    background: var(--bg-surface1, #fff);
    position: fixed;
    top: -10%;
    left: 50%;
    display: flex;
    align-items: center;
    width: calc(100% - (var(--container) * 2));
    height: 70px;
    max-width: 1400px;
    border-top: 1px solid var(--border-default, #eaeaec);
    border-radius: var(--Number, 0px) var(--Number, 0px) 16px 16px;
    box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.05);
    transform: translateX(-50%);
    transition: top 0.2s ease;
    z-index: 11;

    @include breakpointMax(lg) {
        display: none;
    }
}

.product-fixed-bar {
    --offsetLeft: calc(((100vw - 1248px) / 2) + 10px);
    --offsetRight: calc(((100vw - 1248px) / 2) + 10px);

    --img-width: 65px;

    --productBtn-margin: 12px;
    --productBtn-width: 80px;
    --productBtnFast-width: 218px;

    @include breakpoint(xl) {
        --offsetLeft: calc(((100vw - 1400px) / 2) + 10px);
        --offsetRight: calc(((100vw - 1400px) / 2) + 10px);
    }

    & .fixed-bar img {
        width: var(--img-width);
        height: 55px;
    }

    & .product__title {
        margin: 0;
        padding: 0;
        position: fixed;
        left: calc(var(--offsetLeft) + var(--img-width) + 24px);
        top: 16px;
        max-width: 560px;
        font: var(--font-heading-h4);
        animation: $fadeInUp;
        z-index: 11;

        @include textLimit(2);
    }

    & .product__block-action {
        margin: 0;
        padding: 0;
        position: fixed;
        top: 11px;
        right: calc(
            var(--offsetRight) + var(--productBtn-width) + (var(--productBtn-margin) * 2) +
                var(--productBtnFast-width)
        );
        align-items: center;
        column-gap: unset;
        width: 120px;
        height: 48px;
        animation: $fadeInUp;
        z-index: 11;
    }

    & .product__block-btn {
        padding: 0 12px;
        height: 36px;

        & ~ .product__block-btn {
            border-left: 1px solid var(--border-default, #eaeaec);
        }

        & .icon {
            margin-right: 0;
        }

        & p {
            display: none;
        }

        & .tooltip__content {
            bottom: calc(100% - 80px);
        }
    }

    & .product__btn {
        position: fixed;
        top: 11px;
        right: var(--offsetRight);
        flex-direction: row-reverse;
        animation: $fadeInUp;
        z-index: 11;
    }

    & .product__btn-fast {
        width: var(--productBtnFast-width);
        font: var(--font-body-l-strong);
    }

    & .product__btn-cart {
        margin-right: var(--productBtn-margin);
        background: var(--bg-surface1, #fff);
        width: var(--productBtn-width);
        border: 1px solid #f5b316;
        border-radius: 6px;

        & p {
            display: none;
        }

        & .icon {
            display: block;
        }
    }
}

.section-details {
    & .container {
        @include breakpointMax(lg) {
            padding: 0;
        }
    }
}

.details {
    @include breakpoint(lg) {
        margin-top: 16px;
        display: grid;
        align-items: flex-start;
        grid-template-columns: 335px auto;
        column-gap: 16px;
    }

    @include breakpoint(xl) {
        column-gap: 20px;
    }
}

.tabs {
    @include breakpointMax(lg) {
        margin: 10px 0;
        padding: 0 var(--container);
        display: flex;
        overflow-x: auto;
    }

    @include breakpoint(md) {
        @include breakpointMax(lg) {
            margin: 16px 0;
        }
    }

    @include breakpoint(lg) {
        padding: 10px;
        background: var(--bg-surface1, #fff);
        position: sticky;
        top: calc(20px + var(--headerHeight));
        border-radius: 16px;
    }
}

.tab {
    user-select: none;

    @include breakpointMax(lg) {
        padding: 8px;
        background: var(--bg-surface1, #fff);
        flex-shrink: 0;
        font: var(--font-body-m);
    }

    @include breakpoint(lg) {
        cursor: pointer;
    }

    &:first-child {
        @include breakpointMax(lg) {
            border-top-left-radius: 16px;
            border-bottom-left-radius: 16px;
        }
    }

    &:last-child {
        @include breakpointMax(lg) {
            border-top-right-radius: 16px;
            border-bottom-right-radius: 16px;
        }
    }

    & .icon {
        margin-right: 8px;
        width: 16px;
        height: 16px;
        stroke: var(--fg-soft);

        @include breakpoint(lg) {
            margin-right: 12px;
            width: 24px;
            height: 24px;
        }
    }

    &.active {
        & .icon {
            stroke: var(--accent-default, #f5851a);
        }
    }
}

.tab__item {
    padding: 5px 8px;
    display: flex;
    align-items: center;

    @include breakpoint(lg) {
        padding: 12.5px 12px;
        font: var(--font-body-l);
    }

    .tab.active & {
        background: var(--accent-50, #fef3e8);
        border-radius: 8px;
    }
}

.detail {
    background: var(--bg-surface1, #fff);
    display: none;
    border-radius: 16px;

    @include breakpointMax(lg) {
        margin: 0 var(--container);
    }

    &.active {
        display: block;
    }

    & h2 {
        margin-bottom: 24px;
        font: var(--font-heading-h4);

        @include breakpoint(md) {
            margin-bottom: 32px;
            font: var(--font-heading-h3);
        }

        @include breakpoint(lg) {
            font: var(--font-heading-h2);
        }
    }
}

.detail-desc {
    padding: 24px 16px;
    max-width: 664px;

    @include breakpoint(lg) {
        padding: 32px 48px;
    }

    & table {
        margin-top: 24px;

        @include breakpointMax(md) {
            display: block;
        }
    }

    & tr {
        @include breakpointMax(md) {
            padding-right: 18px;
            display: flex;
            justify-content: space-between;
        }

        @include breakpoint(md) {
            padding: 8px 0;
        }
    }

    & p {
        @include breakpoint(md) {
            font: var(--font-body-m);
        }
    }

    & img {
        margin-bottom: 24px;
        border-radius: 8px;

        @include breakpoint(md) {
            margin-bottom: 32px;
        }
    }
}

.detail-desc__wrap {
    position: relative;

    @include breakpoint(md) {
        font: var(--font-body-m);
    }

    .hidden-block & {
        // height: 240px;
        overflow: hidden;

        @include breakpoint(md) {
            // height: 360px;
        }

        &::after {
            content: '';
            background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, #fff 100%);
            position: absolute;
            top: 56px;
            left: 0;
            width: 100%;
            height: calc(100% - 56px);
        }
    }
}

.content-block {
    @include breakpoint(md) {
        padding-bottom: 24px;
    }

    & ~ .content-block {
        margin-top: 24px;

        @include breakpoint(md) {
            margin-top: 32px;
        }
    }
}

.expand-btn {
    padding: 6px 10px;
    background: var(--bg-surface2, #f4f5f6);
    display: none;
    align-items: center;
    width: max-content;
    border-radius: 10px;
    user-select: none;
    cursor: pointer;

    &::before {
        content: 'Развернуть';
        display: inline-block;
        font: var(--font-body-m);
    }

    & .icon {
        margin-left: 4px;
        width: 16px;
        height: 16px;
        stroke: var(--fg-muted);
    }

    &.expanded {
        margin-top: 24px;

        @include breakpoint(md) {
            margin-top: 32px;
        }

        &::before {
            content: 'Свернуть';
        }

        & .icon {
            transform: rotate(180deg);
        }
    }
}

.detail-props {
    padding: 24px 16px;

    @include breakpoint(lg) {
        padding: 32px 48px;
    }

    & table {
        width: 100%;
        max-width: 520px;
        border-collapse: collapse;

        & tr {
            border-top: 1px solid var(--border-default, #eaeaec);
        }

        & th {
            padding: 6px 0 8px;
            color: var(--fg-soft);
            text-align: left;

            @include breakpointMax(md) {
                font: var(--font-description-l);
            }

            @include breakpoint(md) {
                font: var(--font-body-s);
            }
        }

        & td {
            margin-left: auto;
            padding: 6px 0 8px;
            display: flex;
            align-items: center;
            justify-content: flex-end;

            & a.link {
                margin-left: 10px;
                width: 16px;
                height: 16px;
            }

            & .icon {
                width: 16px;
                height: 16px;
                stroke: var(--fg-muted);
            }
        }
    }

    & .wrapper {
        @include breakpoint(lg) {
            display: grid;
            grid-template-columns: 1fr 1fr;
            column-gap: 48px;
            max-width: 854px;
        }

        & table {
            margin-bottom: 48px;

            @include breakpoint(md) {
                grid-row: 2;
            }
        }
    }
}

.detail-card {
    padding: 16px;
    display: grid;
    row-gap: 10px;

    @include breakpoint(md) {
        grid-template-columns: repeat(2, 1fr);
        row-gap: 16px;
        column-gap: 16px;
    }

    @include breakpoint(xl) {
        grid-template-columns: repeat(3, 1fr);
        column-gap: 10px;
    }
}

.detail-docs {
    padding: 24px 16px;
    display: grid;

    @include breakpoint(md) {
        grid-auto-flow: column;
        column-gap: 24px;
        justify-content: flex-start;
    }

    @include breakpoint(lg) {
        padding: 32px 48px;
    }

    & h2 {
        @include breakpoint(md) {
            grid-column: 1 / 3;
        }
    }
}

.detail-docs__item {
    display: flex;
    align-items: center;
    width: max-content;
    font: var(--font-body-s-strong);

    @include breakpoint(md) {
        grid-row: 2;
    }

    & ~ .detail-docs__item {
        @include breakpointMax(md) {
            margin-top: 24px;
        }
    }
}

.detail-docs__icon {
    margin-right: 12px;
    background: var(--bg-surface2, #f4f5f6);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 44px;
    height: 44px;
    border-radius: 8px;

    & .icon {
        fill: var(--fg-default);
    }
}
