.section-sample {
  @include sectionPaddingBottom;

  @include breakpoint(lg) {
    padding-bottom: 16px;
  }
  @include breakpoint(xl) {
    padding-bottom: 20px;
  }

  .section-sample__inner {
    display: grid;
    grid-template-columns: 100%;
    gap: 10px;
    @include breakpoint(md) {
      gap: 16px;
    }

    @include breakpoint(lg) {
      grid-template-columns: calc(100% / 12 * 4 - 8px) minmax(0, 1fr);
    }
    @include breakpoint(xl) {
      gap: 20px;
    }

    .section-sidebar, .section-content {
      border-radius: 16px;
      background-color: var(--static-white);
    }

  }

}

.section-sidebar {

  height: fit-content;

  @include breakpoint(lg) {
    position: sticky;
    top: 10px;
  }

  .section-sidebar__wrapper {

    .section-sidebar-title {
      font: var(--font-heading-h3);
    }

    .section-sidebar-image {
      .image-wrapper {
        padding: 20px;
        height: 180px;
      }
    }


  }
}

.section-sidebar-info {

  .info-row {
    display: grid;
    align-items: center;
    justify-content: space-between;
    padding: 16px 0;

    .info-cell {
      color: var(--fg-soft);
    }

    &.active {
      .info-cell {
        color: var(--static-black);
      }

    }

  }


  &.single-column {
    padding: 0 24px;
  }

  &.two-column {
    @include breakpoint(lg) {
      margin-top: 8px;
    }

    .info-row {
      grid-template-columns: repeat(2, auto);

      .info-cell {
        &:first-child {
          color: var(--fg-soft);
          padding-top: 0;
        }

        &:last-child {
          color: var(--static-black);
        }
      }
    }
  }


  .info-row ~ .info-row {
    border-top: 1px solid var(--border-default);
  }
}

.section-content {
  padding: 42px 16px 34px;

  @include breakpoint(lg) {
    padding: 32px 40px;
  }

  .section-content-wrapper {
    display: grid;
    grid-template-columns: 100%;
    gap: 32px;
    @include breakpoint(lg) {
      grid-template-columns: 650px;
    }
  }


  .content-text {
    .content-text__title {
      font: var(--font-heading-h3);

      @include breakpoint(lg) {
        font: var(--font-heading-h2);
      }
    }

    .content-text__title + p, p + ol {
      margin-top: 16px;
      @include breakpoint(lg) {
        margin-top: 32px;
      }
    }

    p ~ p {
      margin-top: 20px;
    }

    span {
      color: var(--base-accent);
    }

    ol, ul {
      padding-left: calc($container + 5px);
    }

    @include breakpoint(lg) {
      padding-bottom: 24px;
    }
  }


  .content-image-block {
    display: grid;
    grid-template-columns: 100%;
    gap: 20px;

    @include breakpoint(lg) {
      gap: 20px;
    }

    figure {
      figcaption {
        margin-top: 16px;

        .image-wrapper {
          height: 180px;
        }
      }
    }

    .image-wrapper {
      border-radius: 8px;
      height: 180px;

      img {
        object-fit: cover;
        overflow: hidden;
        border-radius: inherit;
      }
    }

    &.image-small {
      @include breakpoint(md) {
        grid-template-columns: repeat(2, 1fr);
        gap: 16px;
      }

      figure {
        .image-wrapper {
          @include breakpoint(lg) {
            height: 160px;
          }
          @include breakpoint(xl) {
            height: 180px;
          }
        }
      }
    }

    &.image-large {
      @include breakpoint(md) {
        gap: 32px;
      }

      .image-wrapper {
        position: relative;
        @include breakpoint(md) {
          height: 360px;
        }


        .icon {
          position: absolute;
          top: calc(50% - 50px);
          left: calc(50% - 50px);
          width: 100px;
          height: 100px;
          cursor: pointer;
        }
      }

    }
  }


  .content-image-block + .content-text {
    margin-top: 24px;
  }

  .content-text__title + ul {
    margin-top: 32px;
  }

  .content-action {
    //margin-bottom: 24px;

    .btn {
      font: var(--font-body-s);

      &.btn-mini {

        border: 1px solid var(--border-default);
        color: var(--base-accent);

        .icon {
          stroke: var(--base-accent);
        }
      }

      &.btn--primary {
        height: 48px;
        width: 226px;
      }
    }


  }
}