section.section-services

    .container

        .head-block
            .title Сервисы и услуги

        .services
            a(href="#").services__item
                .services__item-icon
                    +svg('Arrow-narrow-up-right')
                .services__item-img
                    +img('img-01.jpg')
                .services__item-title Гарантийное обслуживание

            a(href="#").services__item
                .services__item-icon
                    +svg('Arrow-narrow-up-right')
                .services__item-img
                    +img('img-02.jpg')
                .services__item-title Доставка и установка под ключ

            a(href="#").services__item
                .services__item-icon
                    +svg('Arrow-narrow-up-right')
                .services__item-img
                    +img('img-03.jpg')
                .services__item-title Поставка запчастей и оснастки

            a(href="#").services__item
                .services__item-icon
                    +svg('Arrow-narrow-up-right')
                .services__item-img
                    +img('img-04.jpg')
                .services__item-title Пуско-наладка

        a(href="#").services-link.btn.btn-mini.btn--primary Все услуги
            +svg('Arrow-narrow-up-right')