section.section-category

    .container

        .head-block

            .title Популярные категории

        .category

            .category__item
                .category__item-title
                    +svg('saw')
                    |Металлообработка
                .category__item-list
                    a(href="#") Металлорежущий инструмент
                    a(href="#") Обработка кромки, снятие фаски
                    a(href="#") Шлифовка и полировка
                    a(href="#") Ленточнопильные станки
                a(href="#").category__item-link +6 категорий
                    +svg('Arrow-narrow-up-right')
                .category__item-img
                    +img('image_5232.png')

            .category__item
                .category__item-title
                    +svg('laser')
                    |Лазерное оборудование
                .category__item-list
                    a(href="#") Лазерные установки резки
                    a(href="#") Лазерная сварка
                    a(href="#") Лазерная очистка
                    a(href="#") Лазерные граверы-резчики
                a(href="#").category__item-link +3 категорий
                    +svg('Arrow-narrow-up-right')
                .category__item-img
                    +img('image_5233.png')

            .category__item
                .category__item-title
                    +svg('press')
                    |Прессовое оборудование
                .category__item-list
                    a(href="#") Прессы
                    a(href="#") Кузнечные молоты
                    a(href="#") Гидравлические
                    a(href="#") Кривошипные
                a(href="#").category__item-link +4 категорий
                    +svg('Arrow-narrow-up-right')
                .category__item-img
                    +img('image_5234.png')

            .category__item
                .category__item-title
                    +svg('welder')
                    |Сварочное оборудование
                .category__item-list
                    a(href="#") Роликовые вращатели
                    a(href="#") Сварочные позиционеры
                    a(href="#") Трубные вращатели
                    a(href="#") Сварочные колонны
                a(href="#").category__item-link +10 категорий
                    +svg('Arrow-narrow-up-right')
                .category__item-img
                    +img('image_5235.png')

            .category__item
                .category__item-title
                    +svg('helmet')
                    |Строительное оборудование
                .category__item-list
                    a(href="#") Компрессоры и оборудование для подготовки воздуха
                    a(href="#") Мотопомпы
                    a(href="#") Уплотнительное оборудование
                    a(href="#") Осветительные мачты
                a(href="#").category__item-link +6 категорий
                    +svg('Arrow-narrow-up-right')
                .category__item-img
                    +img('image_5236.png')

            .category__item
                .category__item-title
                    +svg('crane')
                    |Инструменты
                .category__item-list
                    a(href="#") Пиление и резка
                    a(href="#") Смазочно-охлаждающие средства
                    a(href="#") Ручные инструменты
                    a(href="#") Аксессуары
                .category__item-img
                    +img('image_5237.png')

            .category__item
                .category__item-title
                    +svg('gear')
                    |Запасные части
                .category__item-list
                    a(href="#") Для магнитно-сверлильных станков
                    a(href="#") Для ленточнопильных станков
                .category__item-img
                    +img('image_5238.png')