section.section-projects

    .container

        .head-block
            .title Реализованные проекты
                span 500+

        .projects

            .projects-wrapper.swiper-wrapper

                .projects__item.swiper-slide
                    .projects__item-label Обработка металла
                    .projects__item-img
                        +img('unsplash_omrpeqLz6Po.jpg')
                    .projects__item-wrap
                        a(href="#").projects__item-title Универсальный токарно-винторезный станок 1В625/1500 с УЦИ
                        .projects__item-desc
                            .projects__item-info
                                .projects__item-row
                                    p Клиент
                                    p АО "ЭЛДИН"
                                .projects__item-row
                                    p Дата шеф-монтажа
                                    p 05.06.2024

                            a(href="#").btn.btn-promo.btn--white
                                +svg('Arrow-narrow-up-right')
                                |Читать

                .projects__item.swiper-slide
                    .projects__item-img
                        +img('image-37.jpg')
                    .projects__item-wrap
                        a(href="#").projects__item-title Универсальный токарно-винторезный станок 1В625/1500 с УЦИ
                        .projects__item-desc
                            .projects__item-info
                                .projects__item-row
                                    p Клиент
                                    p АО "ЭЛДИН"
                                .projects__item-row
                                    p Дата шеф-монтажа
                                    p 05.06.2024

                            a(href="#").btn.btn-promo.btn--white
                                +svg('Arrow-narrow-up-right')
                                |Читать

                .projects__item.swiper-slide
                    .projects__item-img
                        +img('image-37.jpg')
                    .projects__item-wrap
                        a(href="#").projects__item-title Универсальный токарно-винторезный станок 1В625/1500 с УЦИ
                        .projects__item-desc
                            .projects__item-info
                                .projects__item-row
                                    p Клиент
                                    p АО "ЭЛДИН"
                                .projects__item-row
                                    p Дата шеф-монтажа
                                    p 05.06.2024

                            a(href="#").btn.btn-promo.btn--white
                                +svg('Arrow-narrow-up-right')
                                |Читать
                
                a(href="#").projects-link.btn.btn--md.btn--primary Все проекты