extends /layout/layout

block title
    - var title = 'Попапы'

block main

    section

        .container

            .btn.btn--primary(data-src="#popup-auth-sms" data-fancybox style="width: 250px; height: 48px") POPUP