extends /layout/layout

block title
    - var title = 'Страница бренда'

block main

    include ../components/_breadcrumbs
    +breadcrumbs('ATTA', 'Бренды', 'ATTA')

    section.section-brand.section-sample

        .container
            .section-brand__inner.section-sample__inner
                .section-sidebar
                    .section-sidebar__wrapper
                        .section-sidebar-image
                            .image-wrapper
                                +img('brand-logo.png')
                        .section-sidebar-info.two-column
                            .info-row
                                .info-cell Страна производства
                                .info-cell Китай

                .section-content
                    .section-content-wrapper
                        .content-text
                            .content-text__title О бренде
                            p АТТА – инновационный проект международного уровня, направленный на поддержание национальных интересов страны.

                            p Торговая марка появилась благодаря взаимодействию компании ПГ «ВЕКПРОМ» и крупнейших станкостроительных заводов Китайской Народной Республики. В основу сотрудничества заложены исследования, разработки передовых технологий и
                                | инновационных решений в сфере интеллектуальной и автоматической металлообработки.

                            p Товарная линейка включает расширенную группу токарных и фрезерных обрабатывающих центров с ЧПУ, оборудования для автоматизации и механизации сварки, а также станки для гибки и термической резки металлов.
                                | Бренд АТТА тщательно следит за контролем качества своего оборудования. Товарная матрица полностью соответствует российским стандартам ГОСТ и международным требованиям ISO, благодаря сотрудничеству представителей
                                | экспертного сообщества ПГ «ВЕКПРОМ» и китайских инженеров-разработчиков.

                            p Появление инновационного проекта на российском рынке позволяет уйти от долгих и сложных решений технических задач в области металлообработки. Теперь национальные интересы страны в сфере промышленности могут сопровождаться современными решениями и
                                | передовыми технологиями. АТТА – это гарантия надежности и эффективности в металлообработке.

                .section-products
                    .products__inner
                        .products__inner-title Продукция
                        .products__inner-items
                            include ../components/_card-white
                            +card('По запросу')
                            +card('По запросу')
                            +card('По запросу')

                .section-action
                    .action__btn.btn.btn--white Перейти в каталог