extends /layout/layout

block title
    - var title = 'Страница каталога'
    - var page = 'page-catalog'

block main

    include ../components/_breadcrumbs
    +breadcrumbs('Обработка металла', 'Каталог', 'Обработка металла')

    section.section-catalog

        .container

            .catalog

                .catalog__aside

                    form(action="/") 

                        .filter

                            .filter__item
                                .filter__category-item.active Обработка металла
                                    ul

                                        li Сверление и обработка отверстий
                                            ul
                                                li Магнитные сверлильные станки

                                        li Магнитные сверлильные станки
                                        li Вертикально-сверлильные станки
                                        li Радиально-сверлильные станки
                                        li Вертикально-сверлильные станки
                                        li Радиально-сверлильные станки

                                .filter__category-item Сверление и обработка отверстий
                                .filter__category-item Металлорежущий инструмент
                                .filter__category-item Обработка кромки, снятие фаски
                                .filter__category-item Шлифовка и полировка
                                .filter__category-item Сверление и обработка отверстий
                                .filter__category-item Металлорежущий инструмент
                                .filter__category-item Обработка кромки, снятие фаски
                                .filter__category-item Шлифовка и полировка
                                .filter__category-item Сверление и обработка отверстий
                                .filter__category-item Металлорежущий инструмент
                                .filter__category-item Обработка кромки, снятие фаски

                            .filter__item
                                .filter__item-name В наличии
                                .filter__checkbox.switch
                                    input#switch(type="checkbox", name="switch")
                                    label(for="switch") 

                            .filter__item
                                .filter__item-name Мощность
                                    span кВт

                                .range
                                    .range-values
                                        input.min-value(type="text" name="range" min='1' max='100' value='1')
                                        input.max-value(type="text" name="range" min='1' max='100' value='100')
                                    .range-slider
                                        .range-highlight
                                        input.range-min(type='range' name="range" min='1' max='100' value='1')
                                        input.range-max(type='range' name="range" min='1' max='100' value='100')                

                            .filter__item
                                .filter__item-name Цена
                                    span ₽

                                .range
                                    .range-values
                                        input.min-value(type="text" data-financial name="range" min='1' max='2755000' value='1')
                                        input.max-value(type="text" data-financial name="range" min='1' max='2755000' value='2755000')
                                    .range-slider
                                        .range-highlight
                                        input.range-min(type='range' min='1' name="range" max='2755000' value='1')
                                        input.range-max(type='range' min='1' name="range" max='2755000' value='2755000')

                            .filter__item
                                .filter__item-name Тип привода

                                .checkbox
                                    input#type-1(type="checkbox")
                                    label(for="type-1") Электрический (18)
                                
                                .checkbox
                                    input#type-2(type="checkbox")
                                    label(for="type-2") Гидравлический (16)
                                
                                .checkbox
                                    input#type-3(type="checkbox")
                                    label(for="type-3") Пневматический (14)
                                
                                .checkbox
                                    input#type-4(type="checkbox")
                                    label(for="type-4") Механический (12)

                .catalog__inner

                    .catalog__wrap

                        include ../components/_card-white
                        +card
                        +card('Под заказ')
                        +card
                        +card('Под заказ')
                        +card
                        +card('Под заказ')
                        +card
                        +card('Под заказ')
                        +card
                        +card('Под заказ')
                        +card
                        +card('Под заказ')

                    include ../components/_pagination
            