extends /layout/layout

block title
    - var title = 'Сравнение товаров'
    - var page = 'page-compare'

block main

    include ../components/_breadcrumbs
    +breadcrumbs('Сравнение товаров', 'Сравнение товаров')

    .compare-bar

        .compare-bar__item
            .switch
                input#switch(type="checkbox", name="switch")
                label(for="switch" data-text="Только отличия")

        .compare-bar__item
            .share
                +svg('Share')
                |Поделиться

        .compare-bar__item
            .clear
                +svg('Trash')
                |Очистить категорию

    section.section-compare

        .container

            #compare.compare

                .compare-item

                    .swiper

                        .swiper-wrapper

                            .swiper-slide.card-item.card-white
                                
                                .card-tag.tag-instock
                                    +svg('Check')
                                    |В наличии

                                .card-action
                                    .card-action__item.card-remove
                                    .card-action__item.card-favourite

                                .card-item__img
                                    +img('image.png')

                                .card-item__name
                                    a(href="#") Оптоволоконный лазерный станок лазерный станок Tokagama TG-CM 1510

                                .card-item__price 3 553 232 ₽
                                    .discount 3 850 600 ₽

                                .card-item__buy
                                    .card-item__buy-fast.btn.btn--primary Заказать в 1 клик
                                    .card-action__item.card-favourite
                                    .card-item__buy-add.btn.btn-cart
                                        +svg('Basket')

                            .swiper-slide.card-item.card-white
                                
                                .card-tag.tag-instock
                                    +svg('Check')
                                    |В наличии

                                .card-action
                                    .card-action__item.card-remove
                                    .card-action__item.card-favourite

                                .card-item__img
                                    +img('image.png')

                                .card-item__name
                                    a(href="#") Оптоволоконный лазерный станок  Tokagama TG-CM 1428

                                .card-item__price 3 553 232 ₽
                                    .discount 3 850 600 ₽

                                .card-item__buy
                                    .card-item__buy-fast.btn.btn--primary Заказать в 1 клик
                                    .card-action__item.card-favourite
                                    .card-item__buy-add.btn.btn-cart
                                        +svg('Basket')

                            .swiper-slide.card-item.card-white
                                
                                .card-tag.tag-instock
                                    +svg('Check')
                                    |В наличии

                                .card-action
                                    .card-action__item.card-remove
                                    .card-action__item.card-favourite

                                .card-item__img
                                    +img('image.png')

                                .card-item__name
                                    a(href="#") Оптоволоконный лазерный станок  Lokagama TG-ПЕ 0010

                                .card-item__price 3 553 232 ₽
                                    .discount 3 850 600 ₽

                                .card-item__buy
                                    .card-item__buy-fast.btn.btn--primary Заказать в 1 клик
                                    .card-action__item.card-favourite
                                    .card-item__buy-add.btn.btn-cart
                                        +svg('Basket')

                            .swiper-slide.card-item.card-white
                                
                                .card-tag.tag-instock
                                    +svg('Check')
                                    |В наличии

                                .card-action
                                    .card-action__item.card-remove
                                    .card-action__item.card-favourite

                                .card-item__img
                                    +img('image.png')

                                .card-item__name
                                    a(href="#") Оптоволоконный лазерный станок  Tokagama VB-CM 1220

                                .card-item__price 3 553 232 ₽
                                    .discount 3 850 600 ₽

                                .card-item__buy
                                    .card-item__buy-fast.btn.btn--primary Заказать в 1 клик
                                    .card-action__item.card-favourite
                                    .card-item__buy-add.btn.btn-cart
                                        +svg('Basket')
                                        

                    .swiper-navigation
                        .swiper-button.swiper-button-prev
                        span.slide-counter
                        .swiper-button.swiper-button-next

            .compare-desc

                .compare-desc__row
                    .compare-desc__title Мощность
                    .compare-desc__value.js-compare-desc
                        p(data-item=1) 1.1 кВт
                        p(data-item=2) 2.1 кВт
                        p(data-item=3) 1.3 кВт
                        p(data-item=4) 3.1 кВт

                .compare-desc__row
                    .compare-desc__title Макс. диаметр сверления
                    .compare-desc__value.js-compare-desc
                        p(data-item=1) 28 мм
                        p(data-item=2) 15 мм
                        p(data-item=3) 22 мм
                        p(data-item=4) 26 мм

                .compare-desc__row
                    .compare-desc__title Посадочное отверстие шпинделя
                    .compare-desc__value.js-compare-desc
                        p(data-item=1) КМ6
                        p(data-item=2) КМ2
                        p(data-item=3) КМ3
                        p(data-item=4) КМ9

                .compare-desc__row
                    .compare-desc__title Напряжение
                    .compare-desc__value.js-compare-desc
                        p(data-item=1) 200 В
                        p(data-item=2) 600 В
                        p(data-item=3) 400 В
                        p(data-item=4) 800 В

                .compare-desc__row
                    .compare-desc__title Реверс
                    .compare-desc__value.js-compare-desc
                        p(data-item=1) Да
                        p(data-item=2) Нет
                        p(data-item=3) Да
                        p(data-item=4) Нет

                .compare-desc__row
                    .compare-desc__title Макс. диаметр глубокого сверления
                    .compare-desc__value.js-compare-desc
                        p(data-item=1) 22 мм
                        p(data-item=2) 11 мм
                        p(data-item=3) 25 мм
                        p(data-item=4) 17 мм

                .compare-desc__row
                    .compare-desc__title Мощность
                    .compare-desc__value.js-compare-desc
                        p(data-item=1) 2.1 кВт
                        p(data-item=2) 1.3 кВт
                        p(data-item=3) 4.1 кВт
                        p(data-item=4) 1.1 кВт

                .compare-desc__row
                    .compare-desc__title Макс. диаметр сверления
                    .compare-desc__value.js-compare-desc
                        p(data-item=1) 25 мм
                        p(data-item=2) 24 мм
                        p(data-item=3) 21 мм
                        p(data-item=4) 20 мм

                .compare-desc__row
                    .compare-desc__title Посадочное отверстие шпинделя
                    .compare-desc__value.js-compare-desc
                        p(data-item=1) КМ2
                        p(data-item=2) КМ4
                        p(data-item=3) КМ3
                        p(data-item=4) КМ9

                .compare-desc__row
                    .compare-desc__title Напряжение
                    .compare-desc__value.js-compare-desc
                        p(data-item=1) 200 В
                        p(data-item=2) 100 В
                        p(data-item=3) 400 В
                        p(data-item=4) 700 В

                .compare-desc__row
                    .compare-desc__title Реверс
                    .compare-desc__value.js-compare-desc
                        p(data-item=1) Да
                        p(data-item=2) Нет
                        p(data-item=3) Да
                        p(data-item=4) Нет

                .compare-desc__row
                    .compare-desc__title Макс. диаметр глубокого сверления
                    .compare-desc__value.js-compare-desc
                        p(data-item=1) 21 мм
                        p(data-item=2) 15 мм
                        p(data-item=3) 19 мм
                        p(data-item=4) 27 мм