extends /layout/layout

block title
    - var title = 'Страница сервиса и поддержки'
    - var page = 'page-delivery'

block main

    include ../components/_breadcrumbs
    +breadcrumbs('Доставка', 'Cервис и поддержка','Доставка')

    section.section-sample

        .container
            .section-sample__inner
                .section-sidebar
                    .section-sidebar__wrapper
                        .section-sidebar-info.single-column
                            .info-row.active
                                a(href="#id1").info-cell Доставка по Москве и Московской области
                            .info-row
                                a(href="#id2").info-cell Доставка по России
                            .info-row
                                a(href="#id3").info-cell Доставка до терминалов транспортных компаний в Москве — БЕСПЛАТНО
                            .info-row
                                a(href="#id4").info-cell Самовывоз со склада
                            .info-row
                                a(href="#id5").info-cell Как заказать оборудование
                            .info-row
                                a(href="#id6").info-cell Как оплатить
                            .info-row
                                a(href="#id7").info-cell Гарантии успешной доставки


                .section-content
                    .section-content-wrapper
                        .content-text(id='id1')
                            .content-text__title Доставка по Москве и Московской области
                            p ВЕКПРОМ обладает большим собственным автопарком, поэтому доставка по Москве и области производится в минимальные сроки от 1 рабочего дня.Мы осуществляем доставку на территорию клиента, в транспортную компанию и в аэропорт (в случае авиа-пересылки).Все необходимые финансовые документы курьер вручит Вам вместе с заказом.

                        .content-image-block.image-large
                            .image-wrapper
                                +img('image-51.jpg')

                        .content-text(id='id2')
                            .content-text__title Доставка по России
                            p Мы уже много лет успешно сотрудничаем с самыми крупными и надежными в России транспортными компаниями, поэтому все заказы приходят точно в срок:
                            ul
                                li ООО «Деловые линии» (www.dellin.ru)
                                li Компания «ПЭК» (www.pecom.ru)
                                li «ЖелДорЭкспедиция» (www.jde.ru)
                            p Также Вы можете предложить транспортную компанию, с которой Вы работаете, и мы доставим товар до терминала в Москве по указанному адресу.Стоимость доставки обсуждается в зависимости от веса, объёма, расстояния.

                        .content-text(id='id3')
                            .content-text__title Доставка до терминалов транспортных компаний в Москве — БЕСПЛАТНО
                            p Срок доставки заказа по России определяется условиями согласованными в процессе оформления заказа в транспортной компании. Передача Вашего заказа ТК осуществляется в течение 1-3 рабочих дней с момента поступления оплаты на наш счёт.


                        .content-text(id='id4')
                            .content-text__title Самовывоз со склада
                            p Также у Вас есть возможность забрать заказ самостоятельно с нашего склада по адресу:Московская область, Жуковский, ул. Чкалова, дом 50



                        .content-text(id='id5')
                            .content-text__title Как заказать оборудование
                            ul
                                li Вы оформляете заявку (на сайте, по телефону или по e-mail).
                                li Наш менеджер свяжется с Вами для согласования и уточнения деталей заказа.
                                li После согласования заказа менеджер выставляет счет и высылает Вам скан-копию счета для оплаты.
                                li Вы оплачиваете счет. После получении денег на наш счет мы отправляем Ваш заказ со всеми необходимыми документами. Вы самостоятельно забираете груз из транспортной компании в Вашем городе, оплачиваете услугу доставки (если она не включена в счет) и забираете товар!
                                li Ждем Ваших новых заказов!

                        .content-text(id='id6')
                            .content-text__title Как оплатить
                            ul
                                li Безналичная оплата на расчетный счет компании
                                li Оплата картой при получении

                        .content-text(id='id7')
                            .content-text__title Гарантии успешной доставки
                            ul
                                li Многолетний опыт. За годы нашей работы мы продумали, отработали и наладили систему доставки. Именно поэтому заказы доставляются в срок.
                                li Прочная упаковка. Оборудование отправляется на доставку в надежной заводской упаковке, которая защитит все детали при перевозке.
                                li Безупречная репутация. Нам доверяют тысячи клиентов по всей России. Их отзывы о нашей работе Вы можете почитать в Интернете и удостовериться, что мы всегда выполняем взятые на себя обязательства.

                        .content-action
                            .btn.btn--primary(data-src="#popup-request" data-fancybox)
                                span Оставить заявку
