extends /layout/layout

block title
    - var title = 'Главная'
    - var page = 'page-main'

block main

    .container(style="background: #fff;height: 500px")

        .qty-input(style="width: 226px;")
            .qty.qty-minus
                include ../icons/Minus.svg
            input(type="text" name="qty" value="10" number-only)
            .qty.qty-plus
                svg(width="24" height="24")
                    use(href="/__spritemap#sprite-Plus")