extends /layout/layout

block title
    - var title = 'Главная'
    - var page = 'page-main'

block main

    .container

        p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Provident, nemo quibusdam facere veniam placeat totam facilis exercitationem nisi ut optio officia, reiciendis maxime impedit tempora adipisci sit, enim tenetur? In.