extends /layout/layout

block title
    - var title = 'Типовая страница (шаблон)'
    - var page = 'news-inner-page'

block main

    include ../components/_breadcrumbs
    +breadcrumbs('Начало карьеры — 2024. Весна»: Студенты МГТУ им. Н.Э. Баумана подали более 50 анкет на прохождение практики  в «ВЕКПРОМ', 'Новости','Начало карьеры — 2024. Весна»: Студенты МГТУ им. Н.Э. Баумана подали более 50 анкет на ' +
    'прохождение практики  в «ВЕКПРОМ')

    section.section-sample.section-news-slider
        .container
            .section-sample__inner
                .section-sidebar
                    .section-sidebar__wrapper
                        .swiper
                            .swiper-wrapper
                                .swiper-slide.news-slide
                                    +img('News-card.jpg')
                                .swiper-slide.news-slide
                                    +img('News-card.jpg')
                                .swiper-slide.news-slide
                                    +img('News-card.jpg')
                            .swiper-pagination
                            .swiper-navigation
                                .swiper-button.swiper-button-prev
                                .swiper-button.swiper-button-next
                .section-content
                    .section-content-wrapper
                        .content-text
                            .content-text__title Ярмарка работодателей в МГТУ им. Н.Э. Баумана
                            p МГТУ им. Н.Э. Баумана является одним из ведущих технических университетов России. 4 апреля в стенах этого престижного вуза состоялась ярмарка работодателей страны, на которой они представили свои карьерные предложения для студентов и выпускников университета. Это мероприятие было организовано Центром карьеры МГТУ с целью помочь студентам найти работу или пройти стажировку в крупных компаниях.

                            .content-text__title Взаимодействие студентов с работодателями
                            p Представители ведущих работодателей России приняли участие в ярмарке, чтобы напрямую взаимодействовать с талантливыми студентами и выпускниками МГТУ им. Н.Э. Баумана. Они рассказывали о своих компаниях, вакансиях, условиях работы и возможностях профессионального развития. Студенты имели возможность лично пообщаться с работодателями, предоставить свои резюме, узнать подробности об интересующих их вакансиях и пройти собеседования.

                            .content-text__title Новые карьерные возможности для студентов
                            p Центр карьеры МГТУ им. Н.Э. Баумана организовал это мероприятие с целью помочь студентам и выпускникам найти перспективную работу или пройти стажировку в ведущих компаниях страны. Благодаря ярмарке, многие студенты смогли получить предложения о трудоустройстве или возможность пройти стажировку, что позволит им начать успешную карьеру сразу после окончания учебы. Таким образом, ярмарка работодателей стала важным событием для студентов университета, открывшим новые карьерные возможности.
