extends /layout/layout

block title
    - var title = 'Мои заказы'
    - var page = 'page-personal'

block main

    section.section-personal

        .container

            .personal

                .personal-aside

                    .personal__user
                        span К
                        p Константин

                    ul.personal__nav
                        li
                            a(href="personal")
                                +svg('Info')
                                |Личные данные
                        li
                            a(href="personal-orders").notice.active
                                +svg('Basket')
                                |Мои заказы
                                span (2)
                        li
                            a(href="personal-favourite")
                                +svg('Heart')
                                |Избранное
                                span (2)
                        li
                            a(href="personal-viewed")
                                +svg('Password-Show')
                                |Просмотренное
                        li
                            a(href="personal-reviews")
                                +svg('Message-text')
                                |Мои отзывы

                    a.personal__exit(href="#") Выйти

                .personal-main
                    
                    .personal__title Мои заказы

                    .orders

                        .order.expanded
                            .order__head
                                .order__number №123456789
                                .order__date 28.06.2024
                                .order__state.order__state--success Завершен
                                .order__btn
                                    +svg('Chevron-down')

                            .order__body(style="display: block")
                                .order__item
                                    .order__item-img
                                        +img('image-sample.jpg')
                                    .order__item-title Гибочный пресс Ermaksan серии Power Bend Pro
                                        .amount Количество: 1 шт.
                                    .order__item-price 3 553 232 ₽
                                        .discount 3 850 600 ₽

                                .order__item
                                    .order__item-img
                                        +img('image-sample.jpg')
                                    .order__item-title Оптоволоконный лазерный станок Tokagama TG-CM 1510
                                        .amount Количество: 1 шт.
                                    .order__item-price 1 255 990 ₽
                                        .discount 2 200 990 ₽

                        .order
                            .order__head
                                .order__number №999000999
                                .order__date 24.06.2024
                                .order__state.order__state--pending Оформлен
                                .order__btn
                                    +svg('Chevron-down')

                            .order__body(style="display: none")

                        .order
                            .order__head
                                .order__number №123456789
                                .order__date 28.06.2024
                                .order__state.order__state--cancel Отменен
                                .order__btn
                                    +svg('Chevron-down')

                            .order__body(style="display: none")

                    .personal-empty
                        .personal-empty__title У вас еще нет заказов
                        .personal-empty__text Здесь будет храниться история ваших заказов
                        a(href="#").btn.btn--primary Перейти в каталог