extends /layout/layout

block title
    - var title = 'Личные данные'
    - var page = 'page-personal'

block main

    section.section-personal

        .container

            .personal

                .personal-aside

                    .personal__user
                        span К
                        p Константин

                    ul.personal__nav
                        li
                            a(href="personal").active
                                +svg('Info')
                                |Личные данные
                        li
                            a(href="personal-orders").notice
                                +svg('Basket')
                                |Мои заказы
                                span (2)
                        li
                            a(href="personal-favourite")
                                +svg('Heart')
                                |Избранное
                                span (2)
                        li
                            a(href="personal-viewed")
                                +svg('Password-Show')
                                |Просмотренное
                        li
                            a(href="personal-reviews")
                                +svg('Message-text')
                                |Мои отзывы

                    a.personal__exit(href="#") Выйти

                .personal-main
                    
                    .personal__title Личные данные

                    form(action="/")

                        .personal__data
                            
                            .personal__data-item
                                .input
                                    label(for="name") Имя
                                    input#name(type="text" name="name" disabled value="Максим" autocomplete="off")
                                .edit(onclick="personalEdit(this)")
                                    +svg('Pencil')

                                .personal__data-action
                                    .btn.btn--primary Сохранить
                                    .btn.btn--tertialy(onclick="editCancel(this)") Отменить
                            
                            .personal__data-item
                                .input
                                    label(for="lastname") Фамилия
                                    input#lastname(type="text" name="name" disabled value="Максимов" autocomplete="off")
                                .edit(onclick="personalEdit(this)")
                                    +svg('Pencil')

                                .personal__data-action
                                    .btn.btn--primary Сохранить
                                    .btn.btn--tertialy(onclick="editCancel(this)") Отменить

                            .personal__data-item
                                .input
                                    label(for="phone") Телефон
                                    input#phone(type="text" name="name" disabled value="+7 (999) 999-99-99" autocomplete="off" data-phone-number)
                                
                                .edit(onclick="personalEdit(this)")
                                    +svg('Pencil')

                                .personal__data-action
                                    .btn.btn--primary Сохранить
                                    .btn.btn--tertialy(onclick="editCancel(this)") Отменить

                            .personal__data-item
                                .input
                                    label(for="email") Электронная почта
                                    input#email(type="text" name="name" disabled value="maksim@mail.ru" autocomplete="off")
                                .edit(onclick="personalEdit(this)")
                                    +svg('Pencil')

                                .personal__data-action
                                    .btn.btn--primary Сохранить
                                    .btn.btn--tertialy(onclick="editCancel(this)") Отменить