extends /layout/layout

block title
    - var title = 'Страница каталога'
    - var page = 'page-projects'

block main

    include ../components/_breadcrumbs
    +breadcrumbs('Проекты','Проекты')

    section

        .container

            .projects-inner

                .projects__item 
                    .projects__item-label Производство из металла
                    .projects__item-img
                        +img('image-37.jpg')
                    .projects__item-wrap
                        a(href="#").projects__item-title Пуско-наладочные работы лазерного раскройщика Tokagama CUT Smart
                        .projects__item-info
                            .projects__item-row
                                p Клиент
                                p ООО «АЛЬФАМОБИЛЬ»
                            .projects__item-row
                                p Дата шеф-монтажа
                                p 5 апреля 2024

                .projects__item 
                    .projects__item-label Производство из металла
                    .projects__item-img
                        +img('image-37.jpg')
                    .projects__item-wrap
                        a(href="#").projects__item-title Пуско-наладочные работы тяжелого токарно-винторезного универсального станка Feiya CWА61100
                        .projects__item-info
                            .projects__item-row
                                p Клиент
                                p ООО «АЛЬФАМОБИЛЬ»
                            .projects__item-row
                                p Дата шеф-монтажа
                                p 5 апреля 2024

                .projects__item 
                    .projects__item-label Производство из металла
                    .projects__item-img
                        +img('image-37.jpg')
                    .projects__item-wrap
                        a(href="#").projects__item-title Пуско-наладочные работы лазерного раскройщика Tokagama CUT Smart
                        .projects__item-info
                            .projects__item-row
                                p Клиент
                                p ООО «АЛЬФАМОБИЛЬ»
                            .projects__item-row
                                p Дата шеф-монтажа
                                p 5 апреля 2024

                .projects__item 
                    .projects__item-label Производство из металла
                    .projects__item-img
                        +img('image-37.jpg')
                    .projects__item-wrap
                        a(href="#").projects__item-title Пуско-наладочные работы тяжелого токарно-винторезного универсального станка Feiya CWА61100
                        .projects__item-info
                            .projects__item-row
                                p Клиент
                                p ООО «АЛЬФАМОБИЛЬ»
                            .projects__item-row
                                p Дата шеф-монтажа
                                p 5 апреля 2024
                .projects__item 
                    .projects__item-label Производство из металла
                    .projects__item-img
                        +img('image-37.jpg')
                    .projects__item-wrap
                        a(href="#").projects__item-title Пуско-наладочные работы тяжелого токарно-винторезного универсального станка Feiya CWА61100
                        .projects__item-info
                            .projects__item-row
                                p Клиент
                                p ООО «АЛЬФАМОБИЛЬ»
                            .projects__item-row
                                p Дата шеф-монтажа
                                p 5 апреля 2024

                .projects__item 
                    .projects__item-label Производство из металла
                    .projects__item-img
                        +img('image-37.jpg')
                    .projects__item-wrap
                        a(href="#").projects__item-title Лазерный раскройщик Tokagama CUT Smart
                        .projects__item-info
                            .projects__item-row
                                p Клиент
                                p ООО «АЛЬФАМОБИЛЬ»
                            .projects__item-row
                                p Дата шеф-монтажа
                                p 5 апреля 2024

                .projects__item 
                    .projects__item-label Производство из металла
                    .projects__item-img
                        +img('image-37.jpg')
                    .projects__item-wrap
                        a(href="#").projects__item-title Лазерный раскройщик Tokagama CUT Smart
                        .projects__item-info
                            .projects__item-row
                                p Клиент
                                p ООО «АЛЬФАМОБИЛЬ»
                            .projects__item-row
                                p Дата шеф-монтажа
                                p 5 апреля 2024

                .projects__item 
                    .projects__item-label Производство из металла
                    .projects__item-img
                        +img('image-37.jpg')
                    .projects__item-wrap
                        a(href="#").projects__item-title Лазерный раскройщик Tokagama CUT Smart
                        .projects__item-info
                            .projects__item-row
                                p Клиент
                                p ООО «АЛЬФАМОБИЛЬ»
                            .projects__item-row
                                p Дата шеф-монтажа
                                p 5 апреля 2024
                .projects__item 
                    .projects__item-label Производство из металла
                    .projects__item-img
                        +img('image-37.jpg')
                    .projects__item-wrap
                        a(href="#").projects__item-title Лазерный раскройщик Tokagama CUT Smart
                        .projects__item-info
                            .projects__item-row
                                p Клиент
                                p ООО «АЛЬФАМОБИЛЬ»
                            .projects__item-row
                                p Дата шеф-монтажа
                                p 5 апреля 2024

                .projects__item 
                    .projects__item-label Производство из металла
                    .projects__item-img
                        +img('image-37.jpg')
                    .projects__item-wrap
                        a(href="#").projects__item-title Лазерный раскройщик Tokagama CUT Smart
                        .projects__item-info
                            .projects__item-row
                                p Клиент
                                p ООО «АЛЬФАМОБИЛЬ»
                            .projects__item-row
                                p Дата шеф-монтажа
                                p 5 апреля 2024

                .projects__item 
                    .projects__item-label Производство из металла
                    .projects__item-img
                        +img('image-37.jpg')
                    .projects__item-wrap
                        a(href="#").projects__item-title Лазерный раскройщик Tokagama CUT Smart
                        .projects__item-info
                            .projects__item-row
                                p Клиент
                                p ООО «АЛЬФАМОБИЛЬ»
                            .projects__item-row
                                p Дата шеф-монтажа
                                p 5 апреля 2024

                .projects__item 
                    .projects__item-label Производство из металла
                    .projects__item-img
                        +img('image-37.jpg')
                    .projects__item-wrap
                        a(href="#").projects__item-title Лазерный раскройщик Tokagama CUT Smart
                        .projects__item-info
                            .projects__item-row
                                p Клиент
                                p ООО «АЛЬФАМОБИЛЬ»
                            .projects__item-row
                                p Дата шеф-монтажа
                                p 5 апреля 2024

            include ../components/_pagination