extends /layout/layout

block title
    - var title = 'Типовая страница (шаблон)'
    - var page = 'sample-page'

block main

    include ../components/_breadcrumbs
    +breadcrumbs('Длинный заголовок первого порядка в две строки')

    section.section-sample
        .container
            .section-sample__inner
                .section-sidebar
                    .section-sidebar__wrapper
                        .section-sidebar-info.single-column
                            a(href="#id1").info-row.active
                                .info-cell Заголовок второго порядка
                            a(href="#id2").info-row
                                .info-cell Заголовок второго порядка
                            a(href="#id3").info-row
                                .info-cell Заголовок второго порядка

                .section-content
                    .section-content-wrapper
                        .content-text(id='id1')
                            .content-text__title Заголовок второго порядка
                            p 4 апреля в МГТУ им. Н.Э. Баумана прошла ярмарка ведущих работодателей страны с их карьерными предложениями для студентов и выпускников университета. Центр карьеры предоставил возможность студентам лично
                                |пообщаться с работодателями и получить возможность пройти стажировку или предложение о трудоустройстве.

                        .content-action
                            a(href='javascript:void(0)').btn.btn-mini
                                span Подробнее
                                +svg('Arrow-narrow-up-right')

                        .content-image-block.image-small
                            figure
                                .image-wrapper
                                    +img('image-46.jpg')
                                figcaption Панель управления
                            figure
                                .image-wrapper
                                    +img('image-46.jpg')
                                figcaption Панель управления


                        .content-text(id='id2')
                            .content-text__title Заголовок второго порядка
                            p Сегодня в линейке бренда <span>Tokagama</span> — свыше 30 позиций. Представленное оборудование является комплексным решением для самых нетривиальных задач по раскрою металлов, сварке, очистке, гравировке и маркировке.

                            p Лазерные комплексы данной марки отличаются высокой точностью и повторяемостью действий благодаря использованию системы компьютерного управления, которая позволяет программировать необходимые параметры и получать одинаковые
                                |результаты каждый раз. Автоматизированные функции помогают обрабатывать большие объёмы материала за короткий период времени, увеличивая тем самым производительность труда. А широкий спектр возможностей по настройке и
                                |программированию работы делает станки гибкими и адаптивными к различным задачам и материалам.

                        .content-image-block.image-large
                            figure
                                .image-wrapper
                                    +img('image-46.jpg')
                                figcaption Гайка предварительного натяжения 3-осевого винта компании «YSA», Тайвань


                        .content-text(id='id3')
                            .content-text__title Заголовок второго порядка
                            p Сегодня в линейке бренда <span>Tokagama</span> — свыше 30 позиций. Представленное оборудование является комплексным решением для самых нетривиальных задач по раскрою металлов, сварке, очистке, гравировке и маркировке.

                            p Лазерные комплексы данной марки отличаются высокой точностью и повторяемостью действий благодаря использованию системы компьютерного управления, которая позволяет программировать необходимые параметры и получать одинаковые
                                |результаты каждый раз. Автоматизированные функции помогают обрабатывать большие объёмы материала за короткий период времени, увеличивая тем самым производительность труда. А широкий спектр возможностей по настройке и
                                |программированию работы делает станки гибкими и адаптивными к различным задачам и материалам.