extends /layout/layout

block title
    - var title = 'Страница сервиса и поддержки'
    - var page = 'service-support-page'

block main

    include ../components/_breadcrumbs
    +breadcrumbs('Cервис и поддержка','Cервис и поддержка')

    section.section-sample

        .container
            .section-sample__inner
                .section-sidebar
                    .section-sidebar__wrapper
                        .section-sidebar-info.single-column
                            .info-row.active
                                a(href="#id1").info-cell Гарантийное обслуживание
                            .info-row
                                a(href="#id2").info-cell Ремонт станков
                            .info-row
                                a(href="#id3").info-cell Ремонт сверлильных станков
                            .info-row
                                a(href="#id4").info-cell Доставка
                            .info-row
                                a(href="#id5").info-cell Поставка запчастей и оснастки
                            .info-row
                                a(href="#id6").info-cell Пусконаладка оборудования
                            .info-row
                                a(href="#id7").info-cell Подбор оборудования
                            .info-row
                                a(href="#id8").info-cell Выездная демонстрация оборудования
                            .info-row
                                a(href="#id9").info-cell Разработка технологии
                            .info-row
                                a(href="#id10").info-cell Лизинг

                .section-content
                    .section-content-wrapper
                        .content-text(id='id1')
                            .content-text__title Гарантийное обслуживание
                            p В процессе эксплуатации продукции Клиенты, к сожалению, могут столкнуться с выходом из строя узлов и деталей.
                                | Если в гарантийный или послегарантийный период произошла поломка оборудования, и не требуется капитальный ремонт, специалисты нашей сервисной службы могут устранить неисправность как в нашем сервисном центре, так и непосредственно
                                | на Вашем предприятии.

                        .content-action
                            a(href='service-support-sample.html').btn.btn-mini
                                span Подробнее
                                +svg('Arrow-narrow-up-right')

                        .content-image-block.image-large
                            .image-wrapper
                                +img('image-48.jpg')


                        .content-text(id='id2')
                            .content-text__title Ремонт станков
                            p Для быстрого решения вопроса по ремонту Вашего оборудования, нашими специалистами установлен строгий учет оборудования поступившего как по гарантийному, так и после гарантийному обслуживанию.  
                            p Многолетний опыт работы со специализированным оборудованием дает нам четкое понимание, что необходимо для качественного ремонта.

                        .content-action
                            a(href='service-support-sample.html').btn.btn-mini
                                span Подробнее
                                +svg('Arrow-narrow-up-right')

                        .content-image-block.image-large
                            .image-wrapper
                                +img('image-49.jpg')


                        .content-text(id='id3')
                            .content-text__title Ремонт сверлильных станков

                            p ООО «ПГ ВЕКПРОМ» на территории собственного стационарного сервиса осуществляет ремонт и обслуживание станков сверлильных на магнитном основании таких брендов как: (Вектор_Promotech, BDS, MAGTRON, Euroboor, ВИТЯЗЬ, Lenz, Rotabroach, Хайтек, Fein и т.д.).  

                            ol
                                li Обращение в СЦ
                                li Отправка-получение в СЦ
                                li Диагностика в СЦ (согласование ремонта)
                                li Оплата услуг
                                li Ремонт
                                li Отправка
                                li Получение у клиента

                        .content-action
                            a(href='service-support-sample.html').btn.btn-mini
                                span Подробнее
                                +svg('Arrow-narrow-up-right')


                        .content-image-block.image-large
                            .image-wrapper
                                +img('image-50.jpg')

                        .content-text(id='id4')
                            .content-text__title Доставка
                            p Водители нашей компании доставляют оборудование по Москве и области на корпоративных автомобилях. Срок доставки до офиса/склада клиента, а также до терминала ТК/аэропорта от 1 рабочего дня.



                        .content-action
                            a(href='service-support-sample.html').btn.btn-mini
                                span Подробнее
                                +svg('Arrow-narrow-up-right')

                        .content-image-block.image-large
                            .image-wrapper
                                +img('image-51.jpg')

                        .content-text(id='id5')
                            .content-text__title Поставка запчастей и оснастки
                            p На нашем складе в наличии более <span>30 000 наименований</span> комплектующих и запасных частей.  Каждый станок, который Вы приобретаете в нашей компании мы можем оснастить специальными аксессуарами, расходными
                                | материалами.  
                            p <span>Запасные части в наличии</span>  Все самые популярные запасные части держим на складе для минимизации простоя оборудования у клиентов.  Если необходимая запасная часть отсутствует на складе, то мы можем
                                | оперативно заказать её на заводе-производителе. 

                        .content-action
                            a(href='service-support-sample.html').btn.btn-mini
                                span Подробнее
                                +svg('Arrow-narrow-up-right')


                        .content-text(id='id6')
                            .content-text__title Пусконаладка оборудования
                            p ВЕКПРОМ предлагает шеф-монтаж сложного оборудования на территории заказчика. Технические специалисты ВЕКПРОМ выполнят установку и запуск станка, а также проведут инструктаж и обучение ваших специалистов (по необходимости). Согласитесь, оперативный и правильный запуск оборудования позволит компании начать изготовление или обработку изделий гораздо раньше, что положительно повлияет на прибыль компании.

                        .content-action
                            a(href='service-support-sample.html').btn.btn-mini
                                span Подробнее
                                +svg('Arrow-narrow-up-right')

                        .content-image-block.image-large
                            .image-wrapper
                                +img('image-52.jpg')

                        .content-text(id='id7')
                            .content-text__title Подбор оборудования
                            p Десятки известных брендов, сотни моделей станков и инструментов – разобраться во всем этом разнообразии и сделать ответственный выбор очень непросто, особенно если речь идет не об одной единице оборудования, а об оснащении целого цеха или предприятия. ВЕКПРОМ готов помочь в наилучшем решении этой задачи, представляя услуги по профессиональному подбору оборудования

                        .content-action
                            a(href='service-support-sample.html').btn.btn-mini
                                span Подробнее
                                +svg('Arrow-narrow-up-right')


                        .content-text(id='id8')
                            .content-text__title Выездная демонстрация оборудования
                            p Знания и профессионализм — это всегда опыт. А опыт профессионала — это гарантия безаварийной работы оборудования. Мы предлагаем провести для Вас демонстрацию работы оборудования непосредственно в нашем сервисном центре или на территории заказчика.
                            p ДЕМОНСТРАЦИЯ — ЭТО ЧЕТКАЯ КАРТИНА:
                            ul
                                li установки оборудования
                                li пуска и процесса работы
                                li конечный результат
                                li а самое главное — Вы видите полный цикл работы оборудования

                        .content-action
                            a(href='service-support-sample.html').btn.btn-mini
                                span Подробнее
                                +svg('Arrow-narrow-up-right')

                        .content-image-block.image-large
                            .image-wrapper
                                +img('image-53.jpg')

                        .content-text(id='id9')
                            .content-text__title Разработка технологии
                            p ЗСОСТАВЛЕНИЕ ТЕХНОЛОГИЧЕСКОГО ПРОЦЕССА МЕХАНИЧЕСКОЙ ОБРАБОТКИ ДЕТАЛИ  
                            p Правильный выбор заготовки — важнейший этап построения ТП изготовления изделия. Вид заготовки и способ её получения оказывает существенное влияние на характер технологического процесса, трудоемкость и экономичность
                                | обработки. Выбор способа получения заготовки непосредственно зависит от конструкции и материала детали, её раз­меров, требований к точности, объёма производства и других факторов.  
                            p Исходя из необходимости максимального приближения формы и размеров заготовки к параметрам готовой детали, следует применять прогрессивные методы и средства получения заготовок.

                        .content-action
                            a(href='service-support-sample.html').btn.btn-mini
                                span Подробнее
                                +svg('Arrow-narrow-up-right')


                        .content-text(id='id10')
                            .content-text__title Лизинг
                            p Нехватка собственных финансовых ресурсов и высокая стоимость кредитных средств могут помешать Вашему предприятию провести расширение производственных мощностей или обновление оборудования. ВЕКПРОМ предлагает для развития и модернизации вашего производства использовать такой современный финансовый инструмент как лизинг оборудования!

                        .content-action
                            a(href='service-support-sample.html').btn.btn-mini
                                span Подробнее
                                +svg('Arrow-narrow-up-right')