mixin breadcrumbs(title, ...items)

    .page-header

        .breadcrumbs

            .breadcrumbs-wrapper

                .breadcrumbs-item
                    a(href='/') Главная

                each item in items

                    if item == items[items.length - 1]
                        span.breadcrumbs-separator /
                        .breadcrumbs-item
                            span= item

                    else
                        span.breadcrumbs-separator /
                        .breadcrumbs-item
                            a(href="#")= item

        if page == 'page-catalog'

            h1.main-title= title
                span (34)

            .catalog-header

                .filter-search
                    form(action="/")
                        .input-search
                            button(type="submit" aria-label="Поиск").search-icon
                                +svg('Search')
                            input(type="search" name="search" placeholder="Поиск по категории" autocomplete="off")

                .filter-btn.js-filter-btn
                    +svg('Filter-edit')

                .sorting
                    .sorting__btn.js-sorting
                        +svg('Arrow-switch-horizontal')
                        | Сначала новые
                    .sorting__dropdown
                        .radio
                            input#sort-new(type="radio" name="sorting" checked)
                            label(for="sort-new") Сначала новые
                        .radio
                            input#sort-old(type="radio" name="sorting")
                            label(for="sort-old") Сначала старые

                .filter-props
                    .filter-props__item В наличии
                        .filter-props__remove
                            +svg('Close')
                    .filter-props__item Металлорежущий инструмент
                        .filter-props__remove
                            +svg('Close')
                    .filter-props__item.filter-reset Сбросить фильтры
                        .filter-props__remove
                            +svg('Close')

                .view-style
                    .view-style__item.js-view.active
                        +svg('tile')
                    .view-style__item.js-view.js-table-list
                        +svg('list-line')

        if page == 'page-search'

            h1.main-title= title

            .catalog-header

                .filter-search
                    form(action="/")
                        .input-search
                            button(type="submit" aria-label="Поиск").search-icon
                                +svg('Search')
                            input(type="search" name="search" placeholder="Поиск по категории" autocomplete="off")

                .filter-btn.js-filter-btn
                    +svg('Filter-edit')

                .sorting
                    .sorting__btn.js-sorting
                        +svg('Arrow-switch-horizontal')
                        | Сначала новые
                    .sorting__dropdown
                        .radio
                            input#sort-new(type="radio" name="sorting" checked)
                            label(for="sort-new") Сначала новые
                        .radio
                            input#sort-old(type="radio" name="sorting")
                            label(for="sort-old") Сначала старые

                .view-style
                    .view-style__item.js-view.active
                        +svg('tile')
                    .view-style__item.js-view.js-table-list
                        +svg('list-line')