mixin card(order)

    if order


        .card-item.card-white
            .card-tag.tag-order
                +svg('clock-forward')
                |Под заказ

            .card-action
                .card-action__item.card-favourite
                .card-action__item.card-compare

            .card-item__img
                .swiper
                    .swiper-wrapper
                        .swiper-slide
                            +img('image.png')
                        .swiper-slide
                            +img('image.png')
                        .swiper-slide
                            +img('image.png')
                        .swiper-slide
                            +img('image.png')
                        .swiper-slide
                            +img('image.png')
                .swiper-pagination.nested-pagination

            .card-item__name
                a(href="#") Оптоволоконный лазерный станок  Tokagama TG-CM 1510
            .card-item__badge
                .badge(style="background-color: #FEF3E8;color: #F5851A") Специальная цена
                .badge(style="background-color: #F5E9FF;color: #9924FF") В демозале
                .badge(style="background-color: #E8F5FF;color: #1998FF") Лизинг 0%
            .card-item__property
                .card-item__property-row
                    p Мощность
                    p от 1000 до 3000 Вт
                .card-item__property-row
                    p Мощность
                    p от 1000 до 3000 Вт
                .card-item__property-row
                    p Вес
                    p 866 кг
            .card-item__price Цена по запросу
            .card-item__buy
                .card-item__buy-ask.btn.btn--primary Узнать цену




    else


        .card-item.card-white
            .card-tag.tag-instock
                +svg('Check')
                |В наличии

            .card-action
                .card-action__item.card-favourite
                .card-action__item.card-compare

            .card-item__img
                .swiper
                    .swiper-wrapper
                        .swiper-slide
                            +img('image.png')
                        .swiper-slide
                            +img('image.png')
                        .swiper-slide
                            +img('image.png')
                        .swiper-slide
                            +img('image.png')
                        .swiper-slide
                            +img('image.png')
                .swiper-pagination.nested-pagination

            .card-item__name
                a(href="#") Оптоволоконный лазерный станок  Tokagama TG-CM 1510
            .card-item__badge
                .badge(style="background-color: #FEF3E8;color: #F5851A") Специальная цена
                .badge(style="background-color: #F5E9FF;color: #9924FF") В демозале
                .badge(style="background-color: #E8F5FF;color: #1998FF") Лизинг 0%
            .card-item__property
                .card-item__property-row
                    p Мощность
                    p от 1000 до 3000 Вт
                .card-item__property-row
                    p Мощность
                    p от 1000 до 3000 Вт
                .card-item__property-row
                    p Вес
                    p 866 кг
            .card-item__price 3 553 232 ₽
                .discount 3 850 600 ₽
            .card-item__buy
                .card-item__buy-fast.btn.btn--primary Заказать в 1 клик
                .card-item__buy-add.btn.btn-cart
                    +svg('Basket')