.section-sale {
    padding: 50px 0 24px;
    background: var(--neutral-800, #181d28);
    border-radius: 24px;

    @include breakpoint(md) {
        padding-top: 56px;
    }

    @include breakpoint(lg) {
        padding-top: 64px;
    }

    @include breakpoint(xl) {
        padding-top: 76px;
    }

    & .section-title {
        & .icon {
            margin-left: 8px;
            stroke: #f5851a;
        }
    }
}
