.section-category {
    padding: 58px 0 80px;

    @include breakpoint(lg) {
        padding: 64px 0 120px;
    }

    @include breakpoint(xl) {
        padding: 96px 0 150px;
    }
}

.category {
    display: grid;
    row-gap: 10px;

    @include breakpoint(md) {
        grid-template-columns: 1fr 1fr;
        gap: 16px;
    }

    @include breakpoint(lg) {
        grid-template-columns: repeat(4, 1fr);
        gap: 20px;
    }
}

.category__item {
    padding: 16px;
    background: var(--bg-surface1, #fff);
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    min-height: 285px;
    border-radius: 16px;
    overflow: hidden;
    isolation: isolate;

    @include breakpoint(lg) {
        padding: 24px;
        height: 570px;
    }
}

.category__item-title {
    margin-bottom: 24px;
    display: inline-flex;
    font: var(--font-heading-h3);
    letter-spacing: var(--lp-heading-h3);

    @include breakpoint(md) {
        margin-bottom: 20px;
        flex-direction: column;
    }

    @include breakpoint(lg) {
        font: var(--font-heading-h2);
        letter-spacing: var(--lp-heading-h2);
    }

    & .icon {
        width: 20px;
        height: 20px;
        fill: var(--fg-soft);

        @include breakpointMax(lg) {
            margin-right: 16px;
        }

        @include breakpoint(lg) {
            margin-bottom: 16px;
            width: 30px;
            height: 30px;
        }
    }
}

.category__item-list {
    margin-bottom: 64px;
    display: inline-grid;
    justify-content: flex-start;
    row-gap: 9px;

    @include breakpoint(lg) {
        margin-bottom: 32px;
    }
}

.category__item-link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 134px;
    height: 36px;
    color: var(--accent-default, #f5851a);
    border-radius: 8px;
    background: var(--bg-surface2, #f4f5f6);

    @include breakpointMax(lg) {
        margin-top: auto;
    }

    & .icon {
        margin-left: 4px;
        width: 16px;
        height: 16px;
        stroke: var(--accent-default);
    }
}

.category__item-img {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 124px;
    height: 124px;
    z-index: -1;

    @include breakpoint(lg) {
        width: 200px;
        height: 200px;
    }
}
