:root {
    --lp-display-l: 0.03em;
    --lp-display-l-strong: 0.03em;
    --lp-display-m: 0.03em;
    --lp-display-m-strong: 0.03em;
    --lp-display-s: 0.03em;
    --lp-display-s-strong: 0.03em;
    --lp-display-xs: 0.03em;
    --lp-display-xs-strong: 0.03em;
    --lp-heading-h1: 0.02em;
    --lp-heading-h2: 0.02em;
    --lp-heading-h3: 0.01em;
    --lp-heading-h4: 0.01em;
    --lp-body-l: 0;
    --lp-body-l-strong: 0;
    --lp-body-m: 0;
    --lp-body-m-strong: 0;
    --lp-body-s: 0;
    --lp-body-s-strong: 0;
    --lp-description-l: 0;
    --lp-description-m: 0;

    --Accent-Gradient: linear-gradient(60deg, #f5b316 0%, #f5851a 100%);
}

$transition: 0.2s ease-in-out;
