@font-face {
    font-family: 'Stapel';
    src: url('/assets/fonts/Stapel/stapel_regular.otf') format('opentype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Stapel';
    src: url('/assets/fonts/Stapel/stapel_medium.otf') format('opentype');
    font-weight: 500;
    font-style: normal;
}
