body {
    background-color: var(--bg-surface2);
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 360px;
    min-height: 100%;
    max-width: 100%;
    font-family: var(--font-family-body);
    font-optical-sizing: auto;
    font-size: 14px;
    font-style: normal;
    font-weight: var(--font-weight-regular);
    line-height: 1.4;
    color: var(--fg-default);

    @include breakpointMax(lg) {
        padding-bottom: 60px;
    }

    &::before {
        content: '';
        background: rgba(40, 49, 66, 0.3);
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        opacity: 0;
        transition: $transition;
        z-index: -1;
    }

    &.bg-overlay::before {
        opacity: 1;
        z-index: 10;
    }

    &.overflow-hidden {
        overflow: hidden;
    }

    & b {
        font-weight: 700;
        color: inherit;
    }
}

::-webkit-scrollbar {
    width: 0;
    height: 0;

    @include breakpoint(lg) {
        width: 11px;
    }
}

::-webkit-scrollbar-track {
    @include breakpoint(lg) {
        background: var(--border-soft, #f4f5f6);
    }
}

::-webkit-scrollbar-thumb {
    @include breakpoint(lg) {
        background: var(--bg-surface4, #c9cbd0);
        border-radius: 12px;
    }
}

.browser-firefox,
.browser-firefox * {
    @include breakpoint(lg) {
        scrollbar-width: thin;
        scrollbar-color: var(--bg-surface4, #c9cbd0) var(--border-soft, #f4f5f6);
    }
}

input[type='search']::-webkit-search-decoration,
input[type='search']::-webkit-search-cancel-button,
input[type='search']::-webkit-search-results-button,
input[type='search']::-webkit-search-results-decoration {
    -webkit-appearance: none;
}

main {
    min-height: calc(max(calc(100vh - 614px), 350px));
}

.hide {
    display: none !important;
}

button {
    background: none;
}

.icon,
a,
button {
    transition: $transitionColor;
}

svg {
    pointer-events: none;

    &.icon {
        width: 24px;
        height: 24px;
        fill: none;
    }
}

video {
    width: 100%;
    height: 100%;
}

.btn {
    display: flex;
    align-items: center;
    justify-content: center;
    font: var(--font-body-m-strong);
    border-radius: 8px;
    user-select: none;
    transition: $transition;
    cursor: pointer;

    &[disabled] {
        pointer-events: none;
    }

    &--sm {
        height: 48px;
    }

    &--md {
        height: 60px;
        font: var(--font-body-l-strong);
        border-radius: 12px;
    }
}

.btn--primary {
    background: #fff;
    position: relative;
    color: var(--accent-on-accent, #fff);
    isolation: isolate;
    overflow: hidden;

    &::before {
        content: '';
        background: var(
            --Accent-Gradient,
            linear-gradient(101deg, #f5b316 -6.09%, #f5851a 105.07%)
        );
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        transition: $transition;
        z-index: -1;
    }

    & .icon {
        stroke: var(--accent-on-accent);
    }

    &:hover {
        background: var(--accent-hover, #d07116);
        color: var(--accent-25, #fef9f4);

        &::before {
            opacity: 0;
        }
    }

    &:active {
        background: var(--accent-active, #ac5d12);
    }

    &[disabled] {
        background: var(--accent-50, #fef3e8);

        &::before {
            content: none;
        }
    }
}

.btn--secondary-gray {
    background: var(--bg-surface3, #eaeaec);
    color: var(--fg-default, #283142);

    &:hover {
        background: var(--bg-surface2, #f4f5f6);
        color: var(--neutral-hover, #535a68);
    }

    &:active {
        background: var(--bg-surface2, #f4f5f6);
        color: var(--neutral-active, #1c222e);
    }

    &[disabled] {
        background: var(--bg-surface2, #f4f5f6);
        color: var(--fg-muted, #c9cbd0);
    }
}

.btn--secondary-orange {
    background: var(--accent-50, #fef3e8);
    color: var(--accent-default, #f5851a);

    &:hover {
        background: var(--accent-25, #fef9f4);
        color: var(--accent-hover, #d07116);
    }

    &:active {
        background: var(--accent-25, #fef9f4);
        color: var(--accent-active, #ac5d12);
    }

    &[disabled] {
        color: var(--accent-on-accent, #fff);
    }
}

.btn--tertialy {
    background: var(--bg-surface1, #fff);
    border: var(--Number, 1px) solid var(--neutral-100, #c9cbd0);

    &:hover {
        color: var(--neutral-hover, #535a68);
        border: var(--Number, 1px) solid var(--neutral-50, #eaeaec);
    }

    &:active {
        color: var(--neutral-active, #1c222e);
        border: var(--Number, 1px) solid var(--neutral-50, #eaeaec);
    }

    &[disabled] {
        color: var(--fg-muted, #c9cbd0);
        border: var(--Number, 1px) solid var(--neutral-50, #eaeaec);
    }
}

.btn--white {
    background: var(--bg-surface1, #fff);
    border: 1px solid var(--border-default, #eaeaec);

    & .icon {
        stroke: var(--accent-default);
    }

    &:hover {
        color: var(--accent-hover, #d07116);

        & .icon {
            stroke: var(--accent-hover);
        }
    }

    &:active {
        color: var(--accent-active, #d07116);

        & .icon {
            stroke: var(--accent-active);
        }
    }

    &[disabled] {
        color: var(--accent-100);

        & .icon {
            stroke: var(--accent-100);
        }
    }
}

.btn-promo {
    padding: 6px 6px 6px 12px;
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    height: 80px;
    font: var(--font-body-s-strong);

    & .icon {
        margin-left: auto;
        flex-shrink: 0;
        width: 16px;
        height: 16px;
    }
}

.btn-mini {
    padding: 0 12px;
    display: flex;
    width: max-content;
    height: 36px;
    font: var(--font-body-s-strong);

    & .icon {
        margin-left: 10px;
        width: 16px;
        height: 16px;
        stroke: var(--accent-on-accent);
    }
}

.btn-cart {
    width: 80px;
    height: 48px;
    border: 1px solid var(--accent-default, #f5851a);

    & .icon {
        fill: var(--accent-default, #f5851a);
    }

    &:hover {
        border-color: var(--accent-hover);

        & .icon {
            fill: var(--accent-hover);
        }
    }

    &:active {
        border-color: var(--accent-active);

        & .icon {
            fill: var(--accent-active);
        }
    }

    &[disabled] {
        border-color: var(--accent-100);

        & .icon {
            fill: var(--accent-100);
        }
    }
}

.qty-input {
    background: var(--bg-surface2, #f4f5f6);
    padding: var(--Number, 0px) 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 48px;
    border-radius: 8px;
    overflow: hidden;
    user-select: none;

    & input {
        margin: 0 12px;
        padding: 4px;
        background: transparent;
        width: 100%;
        height: 100%;
        font: var(--font-body-l);
        text-align: center;
        border: none;
        outline: none;
    }
}

.qty {
    padding: 4px;
    display: flex;
    align-items: center;
    height: 100%;
    cursor: pointer;

    & .icon {
        stroke: var(--accent-default);
    }

    &:hover {
        & .icon {
            stroke: var(--accent-hover);
        }
    }

    &:active {
        & .icon {
            stroke: var(--accent-active);
        }
    }

    &[disabled] {
        & .icon {
            stroke: var(--fg-muted);
        }
    }
}

.input-search {
    padding: 0 12px;
    background: var(--bg-surface2, #f4f5f6);
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
    height: 36px;
    border-radius: 6px;
    border: 1px solid transparent;

    & .search-icon {
        margin-right: 8px;
        display: flex;

        & .icon {
            width: 24px;
            height: 24px;
            fill: var(--fg-soft);

            @include breakpoint(lg) {
                width: 16px;
                height: 16px;
            }
        }
    }

    & input {
        padding: 8px 0;
        background: transparent;
        width: 100%;
        height: 100%;
        font: var(--font-body-s);
        border: none;
        outline: none;

        @include breakpointMax(lg) {
            display: none;
        }

        &::placeholder {
            color: var(--fg-soft, #9398a0);
        }
    }

    &.focus {
        border-color: var(--accent-muted, #f9b06a);
    }
}

.input-search__clear {
    cursor: pointer;

    & .icon {
        stroke: var(--fg-soft, #9398a0);
    }
}

.chevron {
    display: flex;

    & svg.icon {
        width: 16px;
        height: 16px;
        stroke: var(--fg-default);
    }
}

.head-block {
    padding: 0 16px 24px;

    @include breakpoint(lg) {
        padding: 0 32px 40px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    @include breakpoint(xl) {
        padding: 0 32px 48px;
    }
}

.title {
    display: flex;
    font: var(--font-heading-h2);
    letter-spacing: var(--lp-heading-h2);

    @include breakpoint(md) {
        font: var(--font-display-s-strong);
        letter-spacing: var(--lp-display-s-strong);
    }

    @include breakpoint(lg) {
        font: var(--font-display-l-strong);
    }

    .section-dark & {
        color: var(--accent-on-accent, #fff);
    }
}

.checkbox {
    width: max-content;

    & input {
        display: none;
    }

    & label {
        cursor: pointer;

        &::before {
            content: '';
            width: 16px;
            height: 16px;
            border-radius: 4px;
            border: 1px solid var(--fg-muted, #c9cbd0);
        }
    }

    & input:checked + label {
        &::before {
            content: '';
            background-color: var(--accent-default, #f5851a);
            background-image: $check;
            background-size: contain;
            display: block;
            border-color: var(--accent-default, #f5851a);
        }
    }
}

.radio {
    & input {
        display: none;
    }

    & label {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 16px;
        height: 16px;
        border-radius: 50%;
        border: 1px solid var(--fg-muted, #c9cbd0);
        cursor: pointer;
    }

    & input:checked + label {
        background: var(--accent-default, #f5851a);
        border-color: var(--accent-default, #f5851a);

        &::before {
            content: '';
            background: #fff;
            display: block;
            width: 8px;
            height: 8px;
            border-radius: 50%;
        }
    }
}

.switch {
    & input {
        display: none;
    }

    & label {
        padding: 2px;
        background: var(--bg-surface3, #eaeaec);
        display: block;
        width: 38px;
        height: 20px;
        border-radius: 9999px;
        box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0) inset;
        transition: $transition;
        cursor: pointer;

        &::before {
            content: '';
            background: #fff;
            display: block;
            width: 16px;
            height: 16px;
            border-radius: 50%;
            transition: $transition;
            filter: drop-shadow(0px 2px 2px rgba(68, 83, 113, 0.2))
                drop-shadow(0px 0px 1px rgba(68, 83, 113, 0.1));
        }
    }

    & input:checked + label {
        background: var(--accent-default, #f5851a);

        &::before {
            transform: translateX(calc(100% + 2px));
        }
    }
}

.range {
    position: relative;
}

.range-slider {
    margin: 0 auto;
    position: relative;
    display: flex;
    align-items: center;
    width: calc(100% - 32px);
    height: 1px;

    & input[type='range'] {
        background: none;
        position: absolute;
        width: 100%;
        height: 5px;
        pointer-events: none;
        appearance: none;
        -webkit-appearance: none;
    }

    & input[type='range']::-webkit-slider-thumb {
        background: var(--accent-default);
        width: 15px;
        height: 15px;
        border-radius: 50%;
        cursor: pointer;
        pointer-events: all;
        appearance: none;
        -webkit-appearance: none;
    }

    & input[type='range']::-moz-range-thumb {
        background: var(--accent-default);
        width: 15px;
        height: 15px;
        border-radius: 50%;
        cursor: pointer;
        pointer-events: all;
        border-color: var(--accent-default);
    }

    & input[type='range']:focus {
        outline: none;
    }
}

.range-highlight {
    background: var(--accent-default);
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    height: 1px;
    transform: translateY(-50%);
}

.range-min {
    z-index: 2;
}

.range-max {
    z-index: 1;
}

.range-values {
    padding: 12px 16px;
    display: flex;
    justify-content: space-between;
    height: 44px;
    border-radius: 8px;
    border: var(--Number, 1px) solid var(--neutral-50, #eaeaec);

    & input {
        background: none;
        width: 100%;
        border: none;
        pointer-events: none;
        user-select: none;
        -moz-appearance: textfield; /* Убирает стрелки в Firefox */
    }

    & .max-value {
        text-align: right;
    }
}

/* Убираем стрелки в Chrome, Safari, Edge, Opera */
.range-values input::-webkit-outer-spin-button,
.range-values input::-webkit-inner-spin-button {
    margin: 0;
    -webkit-appearance: none;
}
